clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.vector" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.demolitions_expert"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.fragmentation"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.resourceful"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.quick_hands"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.vanguard"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.long_bomb"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.zig_zag"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.pointfire"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.grenadier"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.run_and_gun"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.counter_strike"
        set "Tier" 4
    }
}
