clone "ConversationTemplate" from="Carda_Early/ammo_depleted" id="Springfield/ammo_depleted_springfield" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_springfield"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_springfield_va"
                        set "itemId" "Series_Tone_Negative_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "(Tch)"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/morale_recovery" id="Springfield/morale_recovery_springfield" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_springfield"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_springfield_va"
                        set "itemId" "Series_Up_004"
                    }
                    set "RoleGuid" "Recovered"
                    set "Text" "Let us advance together toward our common objective."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/morale_wavering" id="Springfield/morale_wavering_springfield" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_springfield"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_springfield_va"
                        set "itemId" "Series_Tone_Positive_009"
                    }
                    set "RoleGuid" "Wavering"
                    set "Text" "Please remain calm."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/squaddie_death_bleed" id="Springfield/squaddie_death_bleed_springfield" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_springfield"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_springfield_va"
                        set "itemId" "Series_Die_Series_Tone_Negative_002"
                    }
                    set "RoleGuid" "Victim"
                    set "Text" "I'm okay."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
