clone "SoundBank" from="tactical_barks_carda_va_full_mid" id="wmgfl_tactical_barks_springfield_va" {
    clear "sounds"
    clear "busIndices"
    append "sounds" {
        set "name" "BarrackEntrance_Normal"
        append "variations" {
            set "clip" asset="springfield/BarrackEntrance_Normal"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0101"
        append "variations" {
            set "clip" asset="springfield/Bedroom_0101"
        }
    }
    append "sounds" {
        set "name" "Bedroom_01_Idle"
        append "variations" {
            set "clip" asset="springfield/Bedroom_01_Idle"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0201"
        append "variations" {
            set "clip" asset="springfield/Bedroom_0201"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0301"
        append "variations" {
            set "clip" asset="springfield/Bedroom_0301"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0401"
        append "variations" {
            set "clip" asset="springfield/Bedroom_0401"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0501"
        append "variations" {
            set "clip" asset="springfield/Bedroom_0501"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0601"
        append "variations" {
            set "clip" asset="springfield/Bedroom_0601"
        }
    }
    append "sounds" {
        set "name" "Behave_InspectExclusive"
        append "variations" {
            set "clip" asset="springfield/Behave_InspectExclusive"
        }
    }
    append "sounds" {
        set "name" "Behave_Stretch"
        append "variations" {
            set "clip" asset="springfield/Behave_Stretch"
        }
    }
    append "sounds" {
        set "name" "Break"
        append "variations" {
            set "clip" asset="springfield/Break"
        }
    }
    append "sounds" {
        set "name" "Camera_Aroud"
        append "variations" {
            set "clip" asset="springfield/Camera_Aroud"
        }
    }
    append "sounds" {
        set "name" "Camera_Look"
        append "variations" {
            set "clip" asset="springfield/Camera_Look"
        }
    }
    append "sounds" {
        set "name" "End"
        append "variations" {
            set "clip" asset="springfield/End"
        }
    }
    append "sounds" {
        set "name" "Gacha"
        append "variations" {
            set "clip" asset="springfield/Gacha"
        }
    }
    append "sounds" {
        set "name" "Series_Battle_Start_Series_Move_Start_Series_Up_003"
        append "variations" {
            set "clip" asset="springfield/Series_Battle_Start_Series_Move_Start_Series_Up_003"
        }
    }
    append "sounds" {
        set "name" "Series_Cancel_Series_Tone_Positive_005"
        append "variations" {
            set "clip" asset="springfield/Series_Cancel_Series_Tone_Positive_005"
        }
    }
    append "sounds" {
        set "name" "Series_Chosen_Auto_Series_Tone_Positive_002"
        append "variations" {
            set "clip" asset="springfield/Series_Chosen_Auto_Series_Tone_Positive_002"
        }
    }
    append "sounds" {
        set "name" "Series_Chosen_Series_Tone_Positive_010"
        append "variations" {
            set "clip" asset="springfield/Series_Chosen_Series_Tone_Positive_010"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_001"
        append "variations" {
            set "clip" asset="springfield/Series_Daily_001"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_002"
        append "variations" {
            set "clip" asset="springfield/Series_Daily_002"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_003"
        append "variations" {
            set "clip" asset="springfield/Series_Daily_003"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_004"
        append "variations" {
            set "clip" asset="springfield/Series_Daily_004"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_005"
        append "variations" {
            set "clip" asset="springfield/Series_Daily_005"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_006"
        append "variations" {
            set "clip" asset="springfield/Series_Daily_006"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_007"
        append "variations" {
            set "clip" asset="springfield/Series_Daily_007"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_008"
        append "variations" {
            set "clip" asset="springfield/Series_Daily_008"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_009"
        append "variations" {
            set "clip" asset="springfield/Series_Daily_009"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_010"
        append "variations" {
            set "clip" asset="springfield/Series_Daily_010"
        }
    }
    append "sounds" {
        set "name" "Series_Die_Series_Tone_Negative_002"
        append "variations" {
            set "clip" asset="springfield/Series_Die_Series_Tone_Negative_002"
        }
    }
    append "sounds" {
        set "name" "Series_Hit_Series_Tone_Positive_006"
        append "variations" {
            set "clip" asset="springfield/Series_Hit_Series_Tone_Positive_006"
        }
    }
    append "sounds" {
        set "name" "Series_Hit_Series_Tone_Positive_007"
        append "variations" {
            set "clip" asset="springfield/Series_Hit_Series_Tone_Positive_007"
        }
    }
    append "sounds" {
        set "name" "Series_Hit_Series_Tone_Positive_008"
        append "variations" {
            set "clip" asset="springfield/Series_Hit_Series_Tone_Positive_008"
        }
    }
    append "sounds" {
        set "name" "Series_Hit_Single_Hit_001"
        append "variations" {
            set "clip" asset="springfield/Series_Hit_Single_Hit_001"
        }
    }
    append "sounds" {
        set "name" "Series_Hitted_Series_HittedLast_Series_Shield_Broken"
        append "variations" {
            set "clip" asset="springfield/Series_Hitted_Series_HittedLast_Series_Shield_Broken"
        }
    }
    append "sounds" {
        set "name" "Series_Kill_Single_Kill_001"
        append "variations" {
            set "clip" asset="springfield/Series_Kill_Single_Kill_001"
        }
    }
    append "sounds" {
        set "name" "Series_Lose_Single_Lose_001"
        append "variations" {
            set "clip" asset="springfield/Series_Lose_Single_Lose_001"
        }
    }
    append "sounds" {
        set "name" "Series_Set_Click_Series_Up_007"
        append "variations" {
            set "clip" asset="springfield/Series_Set_Click_Series_Up_007"
        }
    }
    append "sounds" {
        set "name" "Series_Set_Fall_Series_Tone_Positive_004"
        append "variations" {
            set "clip" asset="springfield/Series_Set_Fall_Series_Tone_Positive_004"
        }
    }
    append "sounds" {
        set "name" "Series_Skill01_Single_Skill_001"
        append "variations" {
            set "clip" asset="springfield/Series_Skill01_Single_Skill_001"
        }
    }
    append "sounds" {
        set "name" "Series_Skill02_Single_Skill_002"
        append "variations" {
            set "clip" asset="springfield/Series_Skill02_Single_Skill_002"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Negative_001"
        append "variations" {
            set "clip" asset="springfield/Series_Tone_Negative_001"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_001"
        append "variations" {
            set "clip" asset="springfield/Series_Tone_Positive_001"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_003"
        append "variations" {
            set "clip" asset="springfield/Series_Tone_Positive_003"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_006"
        append "variations" {
            set "clip" asset="springfield/Series_Tone_Positive_006"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_007"
        append "variations" {
            set "clip" asset="springfield/Series_Tone_Positive_007"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_008"
        append "variations" {
            set "clip" asset="springfield/Series_Tone_Positive_008"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_009"
        append "variations" {
            set "clip" asset="springfield/Series_Tone_Positive_009"
        }
    }
    append "sounds" {
        set "name" "Series_Ultimate_Single_Ultimate_SSR_001"
        append "variations" {
            set "clip" asset="springfield/Series_Ultimate_Single_Ultimate_SSR_001"
        }
    }
    append "sounds" {
        set "name" "Series_Up_001"
        append "variations" {
            set "clip" asset="springfield/Series_Up_001"
        }
    }
    append "sounds" {
        set "name" "Series_Up_002"
        append "variations" {
            set "clip" asset="springfield/Series_Up_002"
        }
    }
    append "sounds" {
        set "name" "Series_Up_004"
        append "variations" {
            set "clip" asset="springfield/Series_Up_004"
        }
    }
    append "sounds" {
        set "name" "Series_Up_005"
        append "variations" {
            set "clip" asset="springfield/Series_Up_005"
        }
    }
    append "sounds" {
        set "name" "Series_Up_006"
        append "variations" {
            set "clip" asset="springfield/Series_Up_006"
        }
    }
    append "sounds" {
        set "name" "Series_Up_008"
        append "variations" {
            set "clip" asset="springfield/Series_Up_008"
        }
    }
    append "sounds" {
        set "name" "Series_Win_Single_Win_001"
        append "variations" {
            set "clip" asset="springfield/Series_Win_Single_Win_001"
        }
    }
    append "sounds" {
        set "name" "Single_Acquire_R_001"
        append "variations" {
            set "clip" asset="springfield/Single_Acquire_R_001"
        }
    }
    append "sounds" {
        set "name" "Single_Acquire_SSR_001"
        append "variations" {
            set "clip" asset="springfield/Single_Acquire_SSR_001"
        }
    }
    append "sounds" {
        set "name" "Single_Anniversary_001"
        append "variations" {
            set "clip" asset="springfield/Single_Anniversary_001"
        }
    }
    append "sounds" {
        set "name" "Single_Birthday_R_001"
        append "variations" {
            set "clip" asset="springfield/Single_Birthday_R_001"
        }
    }
    append "sounds" {
        set "name" "Single_Birthday_SSR_001"
        append "variations" {
            set "clip" asset="springfield/Single_Birthday_SSR_001"
        }
    }
    append "sounds" {
        set "name" "Single_Birthday_SSR_002"
        append "variations" {
            set "clip" asset="springfield/Single_Birthday_SSR_002"
        }
    }
    append "sounds" {
        set "name" "Single_Children_001"
        append "variations" {
            set "clip" asset="springfield/Single_Children_001"
        }
    }
    append "sounds" {
        set "name" "Single_Christmas_001"
        append "variations" {
            set "clip" asset="springfield/Single_Christmas_001"
        }
    }
    append "sounds" {
        set "name" "Single_Christmas_002"
        append "variations" {
            set "clip" asset="springfield/Single_Christmas_002"
        }
    }
    append "sounds" {
        set "name" "Single_Duanwu_001"
        append "variations" {
            set "clip" asset="springfield/Single_Duanwu_001"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_001"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_001"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_002"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_002"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_003"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_003"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_004"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_004"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_005"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_005"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_006"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_006"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_007"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_007"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_008"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_008"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_009"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_009"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_010"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_010"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_011"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_011"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_012"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_012"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_013"
        append "variations" {
            set "clip" asset="springfield/Single_Friendliness_013"
        }
    }
    append "sounds" {
        set "name" "Single_Login_001"
        append "variations" {
            set "clip" asset="springfield/Single_Login_001"
        }
    }
    append "sounds" {
        set "name" "Single_MidAutumn_001"
        append "variations" {
            set "clip" asset="springfield/Single_MidAutumn_001"
        }
    }
    append "sounds" {
        set "name" "Single_MidAutumn_002"
        append "variations" {
            set "clip" asset="springfield/Single_MidAutumn_002"
        }
    }
    append "sounds" {
        set "name" "Single_NewYear_001"
        append "variations" {
            set "clip" asset="springfield/Single_NewYear_001"
        }
    }
    append "sounds" {
        set "name" "Single_NewYear_002"
        append "variations" {
            set "clip" asset="springfield/Single_NewYear_002"
        }
    }
    append "sounds" {
        set "name" "Single_Obon_001"
        append "variations" {
            set "clip" asset="springfield/Single_Obon_001"
        }
    }
    append "sounds" {
        set "name" "Single_Obtain_SSR_001"
        append "variations" {
            set "clip" asset="springfield/Single_Obtain_SSR_001"
        }
    }
    append "sounds" {
        set "name" "Single_Passive_SSR_001"
        append "variations" {
            set "clip" asset="springfield/Single_Passive_SSR_001"
        }
    }
    append "sounds" {
        set "name" "Single_SpringFes_001"
        append "variations" {
            set "clip" asset="springfield/Single_SpringFes_001"
        }
    }
    append "sounds" {
        set "name" "Single_SpringFes_002"
        append "variations" {
            set "clip" asset="springfield/Single_SpringFes_002"
        }
    }
    append "sounds" {
        set "name" "Single_ThanksGiving_001"
        append "variations" {
            set "clip" asset="springfield/Single_ThanksGiving_001"
        }
    }
    append "sounds" {
        set "name" "Single_Title_001"
        append "variations" {
            set "clip" asset="springfield/Single_Title_001"
        }
    }
    append "sounds" {
        set "name" "Single_Valentine_001"
        append "variations" {
            set "clip" asset="springfield/Single_Valentine_001"
        }
    }
    append "sounds" {
        set "name" "Single_Valentine_002"
        append "variations" {
            set "clip" asset="springfield/Single_Valentine_002"
        }
    }
    append "sounds" {
        set "name" "Single_WhiteVale_001"
        append "variations" {
            set "clip" asset="springfield/Single_WhiteVale_001"
        }
    }
    append "sounds" {
        set "name" "Touch_Gun"
        append "variations" {
            set "clip" asset="springfield/Touch_Gun"
        }
    }
    append "sounds" {
        set "name" "Touch_Head"
        append "variations" {
            set "clip" asset="springfield/Touch_Head"
        }
    }
    append "sounds" {
        set "name" "Touch_Pocket"
        append "variations" {
            set "clip" asset="springfield/Touch_Pocket"
        }
    }
    append "sounds" {
        set "name" "Upgrade"
        append "variations" {
            set "clip" asset="springfield/Upgrade"
        }
    }
    append "busIndices" 0
}
