clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.robella" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.robella_taking_command"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.team_spirit"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.call_out_target"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.close_and_personal"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.quick_hands"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.steady_gun"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.stalwart_pike_unique"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.fortify"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.pointfire"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.critical_hits"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.blaze_of_glory"
        set "Tier" 4
    }
}
