clone "ConversationTemplate" from="Carda_Early/building_destroyed" id="Helen/building_destroyed" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_helen"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_helen_va"
                        set "itemId" "Series_Hit_Single_Hit_001"
                    }
                    set "RoleGuid" "Killer"
                    set "Text" "Surprise!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/enemy_damage_blocked" id="Helen/enemy_damage_blocked" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_helen"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_helen_va"
                        set "itemId" "End"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Ehehe"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/enemy_damaged" id="Helen/enemy_damaged" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_helen"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_helen_va"
                        set "itemId" "Series_Hit_Single_Hit_001"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Surprise!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/enemy_killed" id="Helen/enemy_killed" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_helen"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_helen_va"
                        set "itemId" "Series_Kill_Single_Kill_001"
                    }
                    set "RoleGuid" "Killer"
                    set "Text" "Poor thing."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
