clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.klukai" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.fragmentation"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.mobile_infantry"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.gostepriimstvo_babushki"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.hit_the_deck"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.payback"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.stubborn"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.zig_zag"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.vanguard"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.counter_strike"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.blaze_of_glory"
        set "Tier" 4
    }
}

clone "PerkTreeTemplate" from="perk_tree.ivy" id="perk_tree.klukai_pilot" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.expert_pilot_vehicle"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.shoot_and_scoot"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.steady_gun"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.fragmentation"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.minimize_silhouette"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.zig_zag"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.fearsome"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.resourceful"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.vanguard"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.berserk"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.overtime_murdock"
        set "Tier" 4
    }
}
