clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.springfield" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.deploy_decoy"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.resourceful"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.call_out_target"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.take_aim"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.command_rally"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.sharpshooter"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.zero_in_starting"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.minimize_silhouette"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.steady_gun"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.finishing_shot"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.impossible_shot"
        set "Tier" 4
    }
}
