clone "WeaponTemplate" from="weapon.springfield" id="weapon.springfield_r1" {
    set "Damage" 12.5
    set "ArmorPenetration" 42.0
    set "DamageToArmorDurability" 15.0
}

clone "WeaponTemplate" from="weapon.springfield" id="weapon.springfield_r2" {
    set "Damage" 13.0
    set "ArmorPenetration" 44.0
    set "DamageToArmorDurability" 16.0
    set "AccuracyDropoff" -7.0
}

clone "WeaponTemplate" from="weapon.springfield" id="weapon.springfield_r3" {
    set "Damage" 13.5
    set "ArmorPenetration" 46.0
    set "DamageToArmorDurability" 17.0
    set "AccuracyDropoff" -7.0
    set "DamageDropoff" -0.75
    set "MaxRange" 11
}

clone "WeaponTemplate" from="weapon.springfield" id="weapon.springfield_r4" {
    set "Damage" 14.5
    set "ArmorPenetration" 49.0
    set "ArmorPenetrationDropoff" -1.3
    set "DamageToArmorDurability" 18.0
    set "AccuracyDropoff" -6.0
    set "DamageDropoff" -0.75
    set "MaxRange" 11
    set "Suppression" 5.0
}

clone "WeaponTemplate" from="weapon.springfield" id="weapon.springfield_r5" {
    set "Damage" 15.5
    set "ArmorPenetration" 52.0
    set "ArmorPenetrationDropoff" -1.3
    set "DamageToArmorDurability" 19.0
    set "AccuracyBonus" 3.0
    set "AccuracyDropoff" -6.0
    set "DamageDropoff" -0.7
    set "IdealRange" 9
    set "MaxRange" 11
    set "Suppression" 5.0
}

clone "WeaponTemplate" from="weapon.springfield" id="weapon.springfield_r6" {
    set "Damage" 17.0
    set "ArmorPenetration" 55.0
    set "ArmorPenetrationDropoff" -1.2
    set "DamageToArmorDurability" 20.0
    set "AccuracyBonus" 7.0
    set "AccuracyDropoff" -5.0
    set "DamageDropoff" -0.6
    set "IdealRange" 9
    set "MaxRange" 12
    set "Suppression" 6.0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_component_springfield" {
    set "Title" {
        set "m_DefaultTranslation" "M1903 Weapon Component"
    }
    set "Description" {
        set "m_DefaultTranslation" "[PLACEHOLDER] Weapon component for M1903"
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="weapon/springfield/Icon"
    set "Rarity" 0
    set "TradeValue" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "BlueprintTemplate" from="blueprint.squad_weapon_electro_magnetic_enhanced_assault_rifle" id="blueprint.wmgfl_springfield_duplicate" {
    set "m_CraftingResult" "weapon.springfield"
    clear "m_CraftingMaterials"
    append "m_CraftingMaterials" {
        set "Template" "commodity.wmgfl_component_springfield"
        set "Count" 1
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_weapon_parts"
        set "Count" 4
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_cybernetic_optics"
        set "Count" 2
    }
}
