clone "WeaponTemplate" from="weapon.asteria" id="weapon.asteria_r1" {
    set "Damage" 9.5
    set "ArmorPenetration" 28.0
    set "DamageToArmorDurability" 9.5
}

clone "WeaponTemplate" from="weapon.asteria" id="weapon.asteria_r2" {
    set "Damage" 10.0
    set "ArmorPenetration" 30.0
    set "DamageToArmorDurability" 10.0
}

clone "WeaponTemplate" from="weapon.asteria" id="weapon.asteria_r3" {
    set "Damage" 11.0
    set "ArmorPenetration" 32.0
    set "DamageToArmorDurability" 11.0
}

clone "WeaponTemplate" from="weapon.asteria" id="weapon.asteria_r4" {
    set "Damage" 12.0
    set "ArmorPenetration" 35.0
    set "DamageToArmorDurability" 12.0
}

clone "WeaponTemplate" from="weapon.asteria" id="weapon.asteria_r5" {
    set "Damage" 13.0
    set "ArmorPenetration" 39.0
    set "DamageToArmorDurability" 13.0
}

clone "WeaponTemplate" from="weapon.asteria" id="weapon.asteria_r6" {
    set "Damage" 14.0
    set "ArmorPenetration" 43.0
    set "DamageToArmorDurability" 14.0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_component_asteria" {
    set "Title" {
        set "m_DefaultTranslation" "AR-15 Component"
    }
    set "Description" {
        set "m_DefaultTranslation" "[PLACEHOLDER] Weapon component for AR-15"
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="weapon/asteria/Icon"
    set "Rarity" 0
    set "TradeValue" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "BlueprintTemplate" from="blueprint.squad_weapon_electro_magnetic_enhanced_assault_rifle" id="blueprint.wmgfl_asteria_duplicate" {
    set "m_CraftingResult" "weapon.asteria"
    clear "m_CraftingMaterials"
    append "m_CraftingMaterials" {
        set "Template" "commodity.wmgfl_component_asteria"
        set "Count" 1
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_weapon_parts"
        set "Count" 4
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_cybernetic_optics"
        set "Count" 2
    }
}
