clone "ConversationTemplate" from="JeanSy/building_destroyed" id="Ots14/building_destroyed" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Ultimate_Single_Ultimate_SSR_001"
                    }
                    set "RoleGuid" "Killer"
                    set "Text" "You’re done, maggots."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/building_destroyed_neighborhood" id="Ots14/building_destroyed_neighborhood" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Ultimate_Single_Ultimate_SSR_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "You’re done, maggots."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/enemy_damaged" id="Ots14/enemy_damaged" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Hit_Single_Hit_001"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Nowhere to run."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/enemy_fleeing" id="Ots14/enemy_fleeing" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Skill02_Single_Skill_002"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Now’s our chance!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/enemy_killed" id="Ots14/enemy_killed" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Kill_Single_Kill_001"
                    }
                    set "RoleGuid" "Killer"
                    set "Text" "Your struggle is futile."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Attack_Series_Tone_Positive_003"
                    }
                    set "RoleGuid" "Killer"
                    set "Text" "Stay out of my way."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Ultimate_Single_Ultimate_SSR_001"
                    }
                    set "RoleGuid" "Killer"
                    set "Text" "You’re done, maggots."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/enemy_suppressed" id="Ots14/enemy_suppressed" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=3 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Hit_Single_Hit_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Nowhere to run."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
