clone "ConversationTemplate" from="JeanSy/objective_first" id="Ots14/objective_first" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Up_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Perfect."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/objective_second" id="Ots14/objective_second" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Up_004"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Please, don’t hate me."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/objective_third" id="Ots14/objective_third" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Up_005"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "I'll make it back to your side, as many times as it takes."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/success_any_jeansy" id="Ots14/success_any_ots14" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Win_Single_Win_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Exactly as planned. Can’t wait for the victory party."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
