clone "ConversationTemplate" from="JeanSy/response_kill_anyone_nice" id="Ots14/response_kill" {
    set "Active" #true
    set "Roles" index=2 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Series_Kill_Single_Kill_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Your struggle is futile."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/response_taking_fire_anyone" id="Ots14/response_taking_fire_anyone" {
    set "Active" #true
    set "Roles" index=2 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_ots14"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_ots14_va"
                        set "itemId" "Single_Passive_SSR_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Don't look over here."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
