clone "ConversationTemplate" from="JeanSy/arrival_jeansy" id="Voymastina/arrival_voymastina" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_voymastina"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_voymastina_va"
                        set "itemId" "Single_Obtain_SSR_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "It has been some time, Commander. From here on, attend not to the title 'strongest second-generation Doll', but to the abilities themselves."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_voymastina_va"
                        set "itemId" "Single_Login_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Punctual as always. The schedule is already sent. If there are no objections, let us begin at once."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/last_man_standing1" id="Voymastina/last_man_standing1" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_voymastina"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_voymastina_va"
                        set "itemId" "Series_Lose_Single_Lose_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "All of this is my responsibility."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
