clone "ConversationTemplate" from="JeanSy/morale_recovery" id="Voymastina/morale_recovery" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "Series_Up_002"
                    }
                    set "RoleGuid" "Recovered"
                    set "Text" "I can grow stronger."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/morale_wavering" id="Voymastina/morale_wavering" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "Series_Lose_Single_Lose_001"
                    }
                    set "RoleGuid" "Wavering"
                    set "Text" "All of this is my responsibility."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/squaddie_death_bleed" id="Voymastina/squaddie_death_bleed" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "Series_Lose_Single_Lose_001"
                    }
                    set "RoleGuid" "Victim"
                    set "Text" "All of this is my responsibility."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}
