clone "ConversationTemplate" from="JeanSy/missed_cover" id="Voymastina/missed_cover" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "Attack"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Tch."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "Up3"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Performance alone is never enough."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/missed_open" id="Voymastina/missed_open" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="ACTION" {
            set "m_SerAction" composite="SetFlag" {
                set "FlagName" "voymastina_missed_played"
                set "FlagValue" #true
            }
        }
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "Attack"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Tch."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "Up3"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Performance alone is never enough."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/missed_open_twice_in_a_row1" id="Voymastina/missed_open_twice_in_a_row1" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "Up3"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Performance alone is never enough."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/moving_finished" id="Voymastina/moving_finished" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "TonePos1"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Here."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/moving_into_cover_jeansy" id="Voymastina/moving_into_cover_jeansy" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "ChosenAuto"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Engine online."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "TonePos1"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Here."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/moving_jeansy" id="Voymastina/moving_jeansy" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "ChosenAuto"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Engine online."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "Chosen"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Your orders."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "TonePos1"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Here."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "ChosenAuto"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Engine online."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/taking_fire" id="Voymastina/taking_fire" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "HittedLast"
                    }
                    set "RoleGuid" "Damaged"
                    set "Text" "Hngh."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/taking_fire1" id="Voymastina/taking_fire1" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "HittedLast"
                    }
                    set "RoleGuid" "Damaged"
                    set "Text" "Hngh."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/taking_fire11" id="Voymastina/taking_fire11" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "HittedLast"
                    }
                    set "RoleGuid" "Damaged"
                    set "Text" "Hngh."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/taking_fire111" id="Voymastina/taking_fire111" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "HittedLast"
                    }
                    set "RoleGuid" "Damaged"
                    set "Text" "Hngh."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/taking_fire1111" id="Voymastina/taking_fire1111" {
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 composite="HasOneTag" {
            set "Tags" "voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_voymastina_va"
                        set "itemId" "HittedLast"
                    }
                    set "RoleGuid" "Damaged"
                    set "Text" "Hngh."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}
