clone "ConversationTemplate" from="JeanSy/objective_first" id="Voymastina/objective_first" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 composite="HasOneTag" {
            set "Tags" "wmgfl_voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_voymastina_va"
                        set "itemId" "Series_Win_Single_Win_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Tell me the next objective."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/objective_second" id="Voymastina/objective_second" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 composite="HasOneTag" {
            set "Tags" "wmgfl_voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_voymastina_va"
                        set "itemId" "Series_Win_Single_Win_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Tell me the next objective."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/objective_third" id="Voymastina/objective_third" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 composite="HasOneTag" {
            set "Tags" "wmgfl_voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_voymastina_va"
                        set "itemId" "Series_Up_005"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Let us clear every obstacle in our path."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/success_any_jeansy" id="Voymastina/success_any_voymastina" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 composite="HasOneTag" {
            set "Tags" "wmgfl_voymastina"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_voymastina_va"
                        set "itemId" "Series_Up_004"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Dr. Shaw's design, as expected."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}
