clone "SoundBank" from="tactical_barks_jeansy_va" id="tactical_barks_voymastina_va" {
    clear "sounds"
    clear "busIndices"
    append "sounds" {
        set "name" "Attack"
        append "variations" {
            set "clip" asset="voymastina/Series_Attack_Series_Tone_Positive_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "BattleStart"
        append "variations" {
            set "clip" asset="voymastina/Series_Battle_Start_Series_Tone_Positive_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Birthday"
        append "variations" {
            set "clip" asset="voymastina/Single_Birthday_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Chosen"
        append "variations" {
            set "clip" asset="voymastina/Series_Chosen_Series_Tone_Positive_006"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "ChosenAuto"
        append "variations" {
            set "clip" asset="voymastina/Series_Chosen_Auto_Series_Tone_Positive_007"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Daily1"
        append "variations" {
            set "clip" asset="voymastina/Series_Daily_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Die"
        append "variations" {
            set "clip" asset="voymastina/Series_Die_Series_Tone_Negative_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Dying"
        append "variations" {
            set "clip" asset="voymastina/Series_Dying_Series_Tone_Negative_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Friend3"
        append "variations" {
            set "clip" asset="voymastina/Single_Friendliness_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Friend5"
        append "variations" {
            set "clip" asset="voymastina/Single_Friendliness_005"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Friend7"
        append "variations" {
            set "clip" asset="voymastina/Single_Friendliness_007"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Friend8"
        append "variations" {
            set "clip" asset="voymastina/Single_Friendliness_008"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Haa"
        append "variations" {
            set "clip" asset="voymastina/Break"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Hit"
        append "variations" {
            set "clip" asset="voymastina/Series_Hit_Single_Hit_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "HittedLast"
        append "variations" {
            set "clip" asset="voymastina/Series_Hitted_Series_HittedLast"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "HmphEnd"
        append "variations" {
            set "clip" asset="voymastina/End"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "HmphGacha"
        append "variations" {
            set "clip" asset="voymastina/Gacha"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "HmphPocket"
        append "variations" {
            set "clip" asset="voymastina/Touch_Pocket"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "HmphUpgrade"
        append "variations" {
            set "clip" asset="voymastina/Upgrade"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Kill"
        append "variations" {
            set "clip" asset="voymastina/Series_Kill_Single_Kill_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Login"
        append "variations" {
            set "clip" asset="voymastina/Single_Login_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Lose"
        append "variations" {
            set "clip" asset="voymastina/Series_Lose_Single_Lose_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "MidAutumn"
        append "variations" {
            set "clip" asset="voymastina/Single_MidAutumn_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "MmBed1"
        append "variations" {
            set "clip" asset="voymastina/Bedroom_0101"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "MmBed2"
        append "variations" {
            set "clip" asset="voymastina/Bedroom_0201"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "MmBed3"
        append "variations" {
            set "clip" asset="voymastina/Bedroom_0301"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "MmBed3Idle"
        append "variations" {
            set "clip" asset="voymastina/Bedroom_03_Idle"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "MmGun"
        append "variations" {
            set "clip" asset="voymastina/Touch_Gun"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "MmInspect"
        append "variations" {
            set "clip" asset="voymastina/Behave_InspectExclusive"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "MmStretch"
        append "variations" {
            set "clip" asset="voymastina/Behave_Stretch"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "NewYear"
        append "variations" {
            set "clip" asset="voymastina/Single_NewYear_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Obtain"
        append "variations" {
            set "clip" asset="voymastina/Single_Obtain_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Passive"
        append "variations" {
            set "clip" asset="voymastina/Single_Passive_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "SetClick"
        append "variations" {
            set "clip" asset="voymastina/Series_Set_Click_Series_Tone_Positive_004"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "SetFall"
        append "variations" {
            set "clip" asset="voymastina/Series_Set_Fall_Series_Tone_Positive_005"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "ShieldBroken"
        append "variations" {
            set "clip" asset="voymastina/Series_Shield_Broken_Series_Tone_Negative_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Skill01"
        append "variations" {
            set "clip" asset="voymastina/Series_Skill01_Single_Skill_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Skill02"
        append "variations" {
            set "clip" asset="voymastina/Series_Skill02_Single_Skill_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "TonePos1"
        append "variations" {
            set "clip" asset="voymastina/Series_Tone_Positive_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Ultimate"
        append "variations" {
            set "clip" asset="voymastina/Series_Ultimate_Single_Ultimate_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Up1"
        append "variations" {
            set "clip" asset="voymastina/Series_Up_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Up2"
        append "variations" {
            set "clip" asset="voymastina/Series_Up_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Up3"
        append "variations" {
            set "clip" asset="voymastina/Series_Up_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Up4"
        append "variations" {
            set "clip" asset="voymastina/Series_Up_004"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Up5"
        append "variations" {
            set "clip" asset="voymastina/Series_Up_005"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Win"
        append "variations" {
            set "clip" asset="voymastina/Series_Win_Single_Win_001"
        }
    }
    append "busIndices" 0
}
