clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.soppo" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.buff"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.divination_by_combat_weiwu"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.zig_zag"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.stubborn"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.scavenger"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.fearsome"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.pointfire"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.fury"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.vanguard"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.unique_yaz_no_mercy"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.run_and_gun"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.counter_strike"
        set "Tier" 4
    }
}
