clone "StrategicAssetTemplate" from="hardware_reward" id="wmgfl_collapse_piece_reward" {
    set "Name" {
        set "m_DefaultTranslation" "Collapse Pieces ×25"
    }
    set "Description" {
        set "m_DefaultTranslation" "Gain 25 Collapse Pieces."
    }
    set "Icon" asset="procurement/collapse_piece"
    set "IconBig" asset="procurement/collapse_piece"
    clear "Effects"
    // Each native item effect grants one piece when the mission reward is activated.
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
    append "Effects" type="AddItemEffect" {
        set "Item" "commodity.wmgfl_collapse_piece"
    }
}
