clone "PerkTreeTemplate" from="perk_tree.carda" id="perk_tree.alva" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.suppressive_fire"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.disruptive_fire"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.call_out_target"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.this_is_my_rifle"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.determined"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.zig_zag"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.fortify"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.team_spirit"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.run_and_gun"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.wmgfl_electronic_warfare"
        set "Tier" 4
    }
}
