clone "ConversationTemplate" from="JeanSy/arrival_jeansy" id="Mechty/arrival_mechty" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_mechty"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_mechty_va"
                        set "itemId" "Series_Battle_Start_Series_Up_007"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Give me a break."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
