clone "ConversationTemplate" from="JeanSy/building_destroyed" id="Mechty/building_destroyed" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_mechty"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_mechty_va"
                        set "itemId" "Series_Ultimate_Single_Ultimate_SSR_001"
                    }
                    set "RoleGuid" "Killer"
                    set "Text" "Go to sleep!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/building_destroyed_neighborhood" id="Mechty/building_destroyed_neighborhood" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_mechty"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_mechty_va"
                        set "itemId" "Series_Ultimate_Single_Ultimate_SSR_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Go to sleep!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/enemy_damaged" id="Mechty/enemy_damaged" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_mechty"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_mechty_va"
                        set "itemId" "Series_Hit_Single_Hit_001"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Take this!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/enemy_fleeing" id="Mechty/enemy_fleeing" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_mechty"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_mechty_va"
                        set "itemId" "Series_Skill02_Single_Skill_002"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Let’s wrap this up quick and head home!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/enemy_killed" id="Mechty/enemy_killed" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_mechty"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_mechty_va"
                        set "itemId" "Series_Kill_Single_Kill_001"
                    }
                    set "RoleGuid" "Killer"
                    set "Text" "Shut up, okay?"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/enemy_suppressed" id="Mechty/enemy_suppressed" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=3 type="HasOneTag" {
            set "Tags" "wmgfl_mechty"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_mechty_va"
                        set "itemId" "Series_Hit_Single_Hit_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Take this!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
