clone "ConversationTemplate" from="JeanSy/morale_recovery" id="Mechty/morale_recovery" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_mechty"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_mechty_va"
                        set "itemId" "Series_Up_002"
                    }
                    set "RoleGuid" "Recovered"
                    set "Text" "Is it over?"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/morale_wavering" id="Mechty/morale_wavering" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_mechty"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_mechty_va"
                        set "itemId" "Series_Lose_Single_Lose_001"
                    }
                    set "RoleGuid" "Wavering"
                    set "Text" "Battery’s dead. Let’s fall back for now. Next time, for sure."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/squaddie_death_bleed" id="Mechty/squaddie_death_bleed" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_mechty"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_mechty_va"
                        set "itemId" "Series_HittedLast"
                    }
                    set "RoleGuid" "Victim"
                    set "Text" "Tch."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
