clone "ConversationTemplate" from="JeanSy/arrival_jeansy" id="Lenna/arrival_lenna" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_lenna"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Single_Obtain_SSR_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Sorry to keep you waiting! Leave the rest to me!"
                }
            }
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Series_Battle_Start_Series_Set_Click_Single_Login_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Let's make it a quick one today, too."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/last_man_standing1" id="Lenna/last_man_standing1" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_lenna"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Series_Lose_Single_Lose_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Uuu... Sorry, Commander... But with Leva and me here, we can handle everything, so don't worry♪"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
