clone "ConversationTemplate" from="JeanSy/click_bark" id="Lenna/click_bark" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_lenna"
        }
    }
    set "Priority" 100
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="ACTION" {
            set "m_SerAction" type="SetFlag" {
                set "FlagName" "click_bark_lenna"
                set "FlagValue" #true
            }
        }
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Series_Chosen_Series_Up_003"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Looking good?"
                }
            }
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Series_Tone_Positive_003"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Hey♪"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/click_enemy_threatening_obj_zone" id="Lenna/click_enemy_threatening_obj_zone" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_lenna"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Series_Tone_Positive_009"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Disappear."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/idle_bark_combat" id="Lenna/idle_bark_combat" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_lenna"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Series_Set_Fall_Series_Up_006"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "I'll protect you all!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
