clone "ConversationTemplate" from="JeanSy/missed_cover" id="Lenna/missed_cover" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_lenna"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Series_Tone_Negative_001"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Huh?"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/missed_open" id="Lenna/missed_open" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_lenna"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="ACTION" {
            set "m_SerAction" type="SetFlag" {
                set "FlagName" "lenna_missed_played"
                set "FlagValue" #true
            }
        }
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Series_Tone_Negative_001"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Huh?"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/moving_finished" id="Lenna/moving_finished" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_lenna"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Series_Tone_Positive_006"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Effortless♪"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/taking_fire" id="Lenna/taking_fire" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_lenna"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lenna_va"
                        set "itemId" "Series_Hitted_Series_HittedLast_Series_Shield_Broken"
                    }
                    set "RoleGuid" "Damaged"
                    set "Text" "Ah!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
