clone "WeaponTemplate" from="weapon.generic_battle_rifle_tier1_crowbar_marksman" id="weapon.makiatto_wa2000" {
    set "Title" {
        set "m_DefaultTranslation" "WA 2000"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Sniper Rifle"
    }
    set "Description" {
        set "m_DefaultTranslation" "A firearm highly compatible with Makiatto. Modified based on her combat preferences. Features include ligher weight and improved shooting accuracy."
    }

    set "Model" asset="weapon/wa2000/main"
    set "IconEquipment" asset="weapon/wa2000/IconEquipment"
    set "IconEquipmentDisabled" asset="weapon/wa2000/IconEquipmentDisabled"
    set "IconSkillBar" asset="weapon/wa2000/IconSkillBar"
    set "IconSkillBarDisabled" asset="weapon/wa2000/IconSkillBarDisabled"

    set "Damage" 12.0
    set "ArmorPenetration" 35.0
    set "Suppression" 5.75
    set "DeployCosts" {
        set "m_Supplies" 13
    }

    set "BlackMarketMaxQuantity" 0

    set "SkillsGranted" index=0 "active.fire_makiatto_wa2000"
    set "SkillsGranted" index=1 "active.fire_makiatto_wa2000_aimed"
}

clone "SkillTemplate" from="active.fire_battle_rifle_tier_1" id="active.fire_makiatto_wa2000" {
    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
}

clone "SkillTemplate" from="active.fire_battle_rifle_tier_1_aimed_fire_marksman" id="active.fire_makiatto_wa2000_aimed" {
    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
}

// SSR weapon
clone "WeaponTemplate" from="specialweapon.generic_designated_marksman_rifle_tier1" id="specialweapon.makiatto_ssr" {
    set "Title" {
        set "m_DefaultTranslation" "Bittersweet Caramel"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Sniper Rifle"
    }
    set "Description" {
        set "m_DefaultTranslation" "A high-performance rifle assigned to Makiatto. Based on the WA 2000, it has undergone countless adjustments to achieve ultimate precision and power. Makiatto wields this weapon to break through all obstacles, infusing her simmering emotions into"
    }

    set "Model" asset="weapon/wa2000_ssr/main"
    set "IconEquipment" asset="weapon/wa2000_ssr/IconEquipment"
    set "IconEquipmentDisabled" asset="weapon/wa2000_ssr/IconEquipmentDisabled"
    set "IconSkillBar" asset="weapon/wa2000_ssr/IconSkillBar"
    set "IconSkillBarDisabled" asset="weapon/wa2000_ssr/IconSkillBarDisabled"

    set "Damage" 25.0
    set "ArmorPenetration" 45.0
    set "Suppression" 15.0
    set "DeployCosts" {
        set "m_Supplies" 20
    }

    set "BlackMarketMaxQuantity" 0

    clear "SkillsGranted"
    append "SkillsGranted" "active.makiatto_ssr_freeze"
}

clone "SkillTemplate" from="active.fire_dmr" id="active.makiatto_ssr_freeze" {
    set "Title" {
        set "m_DefaultTranslation" "Cold Precision Shot"
    }

    set "Description" {
        set "m_DefaultTranslation" """
            Fire a shot that stuns/freezes the enemy.
            “Pull the trigger with absolute confidence in victory!”
            """
    }

    // Base shot count for everyone. The imprint system overrides this to 2 while Makiatto wields it.
    set "Repetitions" 1

    append "EventHandlers" type="AttackProc" {
        set "SkillToAdd" "effect.stunned"
        set "Chance" 100
        set "ShowHUDText" #true
    }
}
