clone "WeaponTemplate" from="weapon.generic_battle_rifle_tier1_crowbar_marksman" id="weapon.makiatto" {
    append "Tags" "jy_no_sell"
    set "Title" {
        set "m_DefaultTranslation" "WA 2000"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "DMR"
    }
    set "Description" {
        set "m_DefaultTranslation" "A firearm highly compatible with Makiatto. Modified based on her combat preferences. Features include ligher weight and improved shooting accuracy."
    }

    set "Model" asset="weapon/makiatto/main"
    set "Icon" asset="weapon/makiatto/Icon"
    set "IconEquipment" asset="weapon/makiatto/IconEquipment"
    set "IconEquipmentDisabled" asset="weapon/makiatto/IconEquipmentDisabled"
    set "IconSkillBar" asset="weapon/makiatto/IconSkillBar"
    set "IconSkillBarDisabled" asset="weapon/makiatto/IconSkillBarDisabled"

    set "AccuracyBonus" 15.0
    set "AccuracyDropoff" -9.0
    set "ArmorPenetration" 45.0
    set "ArmorPenetrationDropoff" -1.0

    set "Damage" 15.0
    set "DamageDropoff" -0.55
    set "DamageToArmorDurability" 18.0
    set "DamageToArmorDurabilityDropoff" -3.5

    set "MaxRange" 10
    set "IdealRange" 9
    set "Suppression" 6.0

    set "DeployCosts" {
        set "m_Supplies" 20
    }

    set "BlackMarketMaxQuantity" 0

    set "SkillsGranted" index=0 "active.fire_makiatto_wa2000"
    set "SkillsGranted" index=1 "active.fire_makiatto_wa2000_aimed"
}

clone "SkillTemplate" from="active.fire_battle_rifle_tier_1" id="active.fire_makiatto_wa2000" {
    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
    set "ActionPointCost" 50
    set "Uses" 10
}

clone "SkillTemplate" from="active.fire_battle_rifle_tier_1_aimed_fire_marksman" id="active.fire_makiatto_wa2000_aimed" {
    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
    set "ActionPointCost" 50
    set "Uses" 10
    set "ExecutingElement" enum="ExecutingElementType" "OneAtRandomExceptSpecial"
}

// SSR weapon
clone "WeaponTemplate" from="specialweapon.generic_designated_marksman_rifle_tier1" id="weapon.makiatto_ssr" {
    append "Tags" "jy_no_sell"
    set "Title" {
        set "m_DefaultTranslation" "Bittersweet Caramel"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Sniper Rifle"
    }
    set "Description" {
        set "m_DefaultTranslation" "A high-performance rifle assigned to Makiatto. Based on the WA 2000, it has undergone countless adjustments to achieve ultimate precision and power. Makiatto wields this weapon to break through all obstacles, infusing her simmering emotions into"
    }

    set "Model" asset="weapon/makiatto_ssr/main"
    set "Icon" asset="weapon/makiatto_ssr/Icon"
    set "IconEquipment" asset="weapon/makiatto_ssr/IconEquipment"
    set "IconEquipmentDisabled" asset="weapon/makiatto_ssr/IconEquipmentDisabled"
    set "IconSkillBar" asset="weapon/makiatto_ssr/IconSkillBar"
    set "IconSkillBarDisabled" asset="weapon/makiatto_ssr/IconSkillBarDisabled"

    set "Damage" 30.0
    set "ArmorPenetration" 50.0
    set "Suppression" 15.0
    set "MaxRange" 11
    set "IdealRange" 9
    set "DeployCosts" {
        set "m_Supplies" 20
    }

    set "BlackMarketMaxQuantity" 0

    clear "SkillsGranted"
    append "SkillsGranted" "active.makiatto_ssr_freeze"
}

clone "SkillTemplate" from="active.fire_dmr" id="active.makiatto_ssr_freeze" {
    set "Title" {
        set "m_DefaultTranslation" "Cold Precision Shot"
    }

    set "Description" {
        set "m_DefaultTranslation" """
            Fire a cryo round dealing <link="wmgfl_freeze">Freeze</link> damage.
            “Pull the trigger with absolute confidence in victory!”
            """
    }

    // Base shot count for everyone. The imprint system overrides this to 2 while Makiatto wields it.
    set "Repetitions" 1

    append "EventHandlers" type="WOMENACE:ElementalDamage" {
        set "Element" "Freeze"
        set "AmountPerHit" 30.0
    }
}
