clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_ar_barrel" {
    set "Title" {
        set "m_DefaultTranslation" "AR Barrel"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble AR weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/barrel"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_ar_receiver" {
    set "Title" {
        set "m_DefaultTranslation" "AR Receiver"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble AR weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/receiver"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_ar_grip" {
    set "Title" {
        set "m_DefaultTranslation" "AR Grip"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble AR weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/grip"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_ar_sights" {
    set "Title" {
        set "m_DefaultTranslation" "AR Sight"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble AR weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/sights"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_smg_barrel" {
    set "Title" {
        set "m_DefaultTranslation" "SMG Barrel"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble SMG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/barrel"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_smg_receiver" {
    set "Title" {
        set "m_DefaultTranslation" "SMG Receiver"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble SMG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/receiver"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_smg_grip" {
    set "Title" {
        set "m_DefaultTranslation" "SMG Grip"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble SMG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/grip"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_smg_sights" {
    set "Title" {
        set "m_DefaultTranslation" "SMG Sight"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble SMG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/sights"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_rf_barrel" {
    set "Title" {
        set "m_DefaultTranslation" "RF Barrel"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble RF weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/barrel"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_rf_receiver" {
    set "Title" {
        set "m_DefaultTranslation" "RF Receiver"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble RF weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/receiver"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_rf_grip" {
    set "Title" {
        set "m_DefaultTranslation" "RF Grip"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble RF weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/grip"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_rf_sights" {
    set "Title" {
        set "m_DefaultTranslation" "RF Sight"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble RF weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/sights"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_mg_barrel" {
    set "Title" {
        set "m_DefaultTranslation" "MG Barrel"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble MG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/barrel"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_mg_receiver" {
    set "Title" {
        set "m_DefaultTranslation" "MG Receiver"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble MG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/receiver"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_mg_grip" {
    set "Title" {
        set "m_DefaultTranslation" "MG Grip"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble MG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/grip"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_mg_sights" {
    set "Title" {
        set "m_DefaultTranslation" "MG Sight"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble MG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/sights"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_sg_barrel" {
    set "Title" {
        set "m_DefaultTranslation" "SG Barrel"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble SG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/barrel"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_sg_receiver" {
    set "Title" {
        set "m_DefaultTranslation" "SG Receiver"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble SG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/receiver"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_sg_grip" {
    set "Title" {
        set "m_DefaultTranslation" "SG Grip"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble SG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/grip"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_sg_sights" {
    set "Title" {
        set "m_DefaultTranslation" "SG Sight"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble SG weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/sights"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_bld_blank" {
    set "Title" {
        set "m_DefaultTranslation" "BLD Blade Blank"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble BLD weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/blank"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_part_bld_hilt" {
    set "Title" {
        set "m_DefaultTranslation" "BLD Hilt"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Weapon Part"
    }
    set "Description" {
        set "m_DefaultTranslation" "Used to assemble BLD weapons."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/hilt"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_calibration_core" {
    set "Title" {
        set "m_DefaultTranslation" "Standard Calibration Core"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Calibration Core"
    }
    set "Description" {
        set "m_DefaultTranslation" "Calibrates normal weapons from R3 to R6."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/core"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "BlueprintTemplate" from="blueprint.squad_weapon_electro_magnetic_enhanced_assault_rifle" id="blueprint.wmgfl_calibration_core" {
    set "m_CraftingResult" "commodity.wmgfl_calibration_core"
    clear "m_CraftingMaterials"
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_alloys"
        set "Count" 2
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_weapon_parts"
        set "Count" 1
    }
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_advanced_calibration_core" {
    set "Title" {
        set "m_DefaultTranslation" "Advanced Calibration Core"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Calibration Core"
    }
    set "Description" {
        set "m_DefaultTranslation" "Calibrates SSR weapons from R3 to R6."
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="workshop/core"
    set "TradeValue" 0
    set "Rarity" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "BlueprintTemplate" from="blueprint.squad_weapon_electro_magnetic_enhanced_assault_rifle" id="blueprint.wmgfl_advanced_calibration_core" {
    set "m_CraftingResult" "commodity.wmgfl_advanced_calibration_core"
    clear "m_CraftingMaterials"
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_advanced_alloys"
        set "Count" 2
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_cybernetic_optics"
        set "Count" 1
    }
}
