clone "CommodityTemplate" from="commodity.valuable_minerals" id="commodity.wmgfl_sardis_gold" {
    set "Title" {
        set "m_DefaultTranslation" "Sardis Gold"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Sardis"
    }
    set "Description" {
        set "m_DefaultTranslation" """
            Sardis Gold is a rare, precious metal widely circulated as a form of currency, valued highly from high ranking officials to civilians in contamination zones. "My New Year's wish is to be drowned in piles of Sardis Gold." Can be used to purchase designated materials.
            """
    }
    append "Tags" "jy_no_sell"
    set "TradeValue" 0
    set "Rarity" 0
    set "Icon" asset="procurement/sardis_gold"
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}
