clone "ArmorTemplate" from="armor.player_fatigues" id="armor.sextans_default" {
    set "Title" {
        set "m_DefaultTranslation" "Nightwatch Regalia"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Field Outfit"
    }
    set "Description" {
        set "m_DefaultTranslation" "[PLACEHOLDER] Sextans' usual attire."
    }
    set "Icon" asset="sextans/armor/default/Icon"
    set "IconEquipment" asset="sextans/armor/default/IconEquipment"
    set "IconSkillBar" asset="sextans/armor/default/IconSkillBar"
    clear "MaleModels"
    append "MaleModels" asset="sextans/default/main"
    clear "FemaleModels"
    append "FemaleModels" asset="sextans/default/main"
    set "SquadLeaderMode" enum="SquadLeaderModelMode" "SameAsOthers"
    append "OnlyEquipableBy" "wmgfl_sextans"

    set "Armor" 30
    set "DurabilityPerElement" 80
    set "DefenseMult" 1.5
    set "SuppressionImpactMult" 0.8
    set "Concealment" 3
}

clone "ArmorTemplate" from="armor.sextans_default" id="armor.sextans_nocte" {
    set "Title" {
        set "m_DefaultTranslation" "Nocte Bewitchment"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Maid Costume"
    }
    set "Description" {
        set "m_DefaultTranslation" "[PLACEHOLDER] Maid costume"
    }
    set "Icon" asset="sextans/armor/nocte/Icon"
    set "IconEquipment" asset="sextans/armor/nocte/IconEquipment"
    set "IconSkillBar" asset="sextans/armor/nocte/IconSkillBar"
    clear "MaleModels"
    append "MaleModels" asset="sextans/nocte/main"
    clear "FemaleModels"
    append "FemaleModels" asset="sextans/nocte/main"
    set "SquadLeaderMode" enum="SquadLeaderModelMode" "SameAsOthers"
    append "OnlyEquipableBy" "wmgfl_sextans"

    set "Armor" 30
    set "DurabilityPerElement" 80
    set "DefenseMult" 1.5
    set "SuppressionImpactMult" 0.8
    set "Concealment" 3
}
