clone "PerkTreeTemplate" from="perk_tree.carda" id="perk_tree.sextans" {
    clear "Perks"

    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.close_and_personal"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.covert_ops"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.stubborn"
        set "Tier" 1
    }

    append "Perks" {
        set "Skill" "perk.drive_by"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.ambush"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.door_to_door"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.zig_zag"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.determined"
        set "Tier" 2
    }

    append "Perks" {
        set "Skill" "perk.sharpshooter"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.assassin"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.fury"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.sneak"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.spartan_duty"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.pirates_luck"
        set "Tier" 3
    }

    append "Perks" {
        set "Skill" "perk.berserk"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.lucky_shot"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.shieldwall"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.divine_intervention"
        set "Tier" 4
    }
}
