clone "TagTemplate" from="unique" id="wmgfl_sextans"

clone "SpeakerTemplate" from="carda" id="wmgfl_sextans_speaker" {
    set "Tags" "wmgfl_sextans female infantry waybacker wmgfl_class_blade"
    set "Nickname" {
        set "m_DefaultTranslation" "Sextans"
    }
    set "Forename" {
        set "m_DefaultTranslation" "Sextans"
    }
    set "Surname" {
        set "m_DefaultTranslation" ""
    }
    set "Description" {
        set "m_DefaultTranslation" """
            Name: Sextans

            Proficiency: The Hunter

            Birth: Unknown

            Age: Classified

            Affiliation(s): Elmo - Third-Gen Doll Echelon
            """
    }

    set "BarkImage" asset="sextans/bark"
    set "StandLookLeftImage" asset="sextans/stand_look_left"
    set "StandLookRightImage" asset="sextans/stand_look_right"
    set "StandLookRightInactiveImage" asset="sextans/stand_look_right_inactive"
}

clone "ElementAnimatorTemplate" from="animator.human" id="animator.sextans" {
    set "HumanIK" #false
}

clone "EntityTemplate" from="player_squad.carda" id="player_squad.sextans" {
    append "Tags" "wmgfl_sextans"
    append "Tags" "jy_weapon_restricted"
    append "Tags" "jy_special_restricted"

    set "OverrideAnimatorController" #null
    set "AnimatorTemplate" "animator.sextans"

    set "Properties" {
        set "Vision" 11
    }

    set "Title" {
        set "m_DefaultTranslation" "Elmo - Third-Gen Doll Echelon"
    }

    set "Description" {
        set "m_DefaultTranslation" """
            Agile and cunning Doll, formerly under the Orlog Corporation, was abandoned after a failed mission, suffering severe mental damage. She was subsequently rescued by the ELMO and became reliable companions.

            "Compared to my former colleagues, the Dolls around you seem somewhat... naive."
            """
    }

    set "Badge" asset="sextans/badge_mini"
    set "BadgeWhite" asset="sextans/badge_mini"
    clear "Items"
    append "Items" "armor.player_fatigues"
    append "Items" "weapon.sextans"

    set "Scale" {
        set "x" 1.0
        set "y" 1.0
    }
    set "OverrideScaleForSquadLeader" #false
}

clone "UnitLeaderTemplate" from="squad_leader.carda" id="squad_leader.sextans" {
    set "InfantryUnitTemplate" "player_squad.sextans"
    set "SpeakerTemplate" "wmgfl_sextans_speaker"
    set "CustomHead" #null
    set "UnitTitle" {
        set "m_DefaultTranslation" "Tactical Doll"
    }
    set "UnitDescription" {
        set "m_DefaultTranslation" """
            Agile and cunning Doll, formerly under the Orlog Corporation, was abandoned after a failed mission, suffering severe mental damage. She was subsequently rescued by the ELMO and became reliable companions.
            "Compared to my former colleagues, the Dolls around you seem somewhat... naive."
            """
    }

    set "InitialAttributes" index=0 125
    set "InitialAttributes" index=1 100
    set "InitialAttributes" index=2 100
    set "InitialAttributes" index=3 110
    set "InitialAttributes" index=4 255
    set "InitialAttributes" index=5 80
    set "InitialAttributes" index=6 100

    set "QualityLevel" 4
    set "GrowthPotential" 5
    set "FixedSupplyCost" 400
    set "PromotionCostMult" 0.8
    set "SquaddieTax" 0
    set "Rarity" 5

    set "InitialPerk" "perk.sextans_rally"
    set "PerkTrees" index=0 "perk_tree.sextans"

    set "Slot" asset="sextans/slot"
    set "SlotInactive" asset="sextans/slot_inactive"
    set "SlotBadge" asset="sextans/slot_badge"

    set "BadgeDragged" asset="sextans/badge_dragged"
    set "BigBadge" asset="sextans/big_badge"
    set "BadgeUnitWindow" asset="sextans/badge_unit_window"
    set "BadgeMini" asset="sextans/badge_mini"

    set "HiredBarkSound" {
        set "bankId" "wmgfl_tactical_barks_sextans_va"
        set "itemId" "Series_Set_Click_Series_Tone_Positive_004"
    }
    set "HiringSelectBarkSound" {
        set "bankId" "wmgfl_tactical_barks_sextans_va"
        set "itemId" "Series_Chosen_Auto_Series_Tone_Positive_007"
    }

    set "PromotionBarkSounds" index=0 {
        set "PerkTier" 1
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Series_Up_002"
        }
    }
    set "PromotionBarkSounds" index=1 {
        set "PerkTier" 2
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Series_Up_003"
        }
    }
    set "PromotionBarkSounds" index=2 {
        set "PerkTier" 3
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Series_Up_004"
        }
    }
    set "PromotionBarkSounds" index=3 {
        set "PerkTier" 4
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Series_Up_005"
        }
    }
    clear "EmotionalStateResponses"
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Eager"
        set "Text" {
            set "m_DefaultTranslation" "Your Excellency, from now on, keep me by your side. I will guard your peace from foul footsteps."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Single_Friendliness_005"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Determined"
        set "Text" {
            set "m_DefaultTranslation" "If Mother wishes to touch the divine, I shall offer up a god-slaying feast. I look forward to hearing her sceptre ring with scorn."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Series_Daily_004"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Overconfident"
        set "Text" {
            set "m_DefaultTranslation" "Compared to my previous colleagues, I get the impression your Dolls are a bit too simple. How on earth have you managed to weather that chaos?"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Series_Daily_005"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Euphoric"
        set "Text" {
            set "m_DefaultTranslation" "Would you do me the honour of being my partner tonight? Your steps would lend a distinctive charm to this never-ending waltz."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Single_Friendliness_008"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Hesitant"
        set "Text" {
            set "m_DefaultTranslation" "A being like me, devoid of any warmth, should not touch your body."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Single_Friendliness_003"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Frustrated"
        set "Text" {
            set "m_DefaultTranslation" "I have laid my past bare. And yet, why does the distance between us remain?"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Single_Friendliness_004"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Disheartened"
        set "Text" {
            set "m_DefaultTranslation" "The cradle that sent us back is a weathered headstone. It nurtures us even as it carries us toward death. That is what third-generation dolls are."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Series_Daily_002"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Miserable"
        set "Text" {
            set "m_DefaultTranslation" "We are nothing but exhibits she put on display in her lab. When hope, faith, and the future proved to be empty names and everything fell apart, their false glamour and beauty became nothing but ash settling on ruins raised on pretence."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_sextans_va"
            set "itemId" "Series_Daily_001"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "GoodwillTowards"
        set "Text" {
            set "m_DefaultTranslation" ""
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "AnimosityTowards"
        set "Text" {
            set "m_DefaultTranslation" ""
        }
    }
}
