clone "WeaponTemplate" from="weapon.sextans_sword" id="weapon.sextans_sword_r1"

clone "WeaponTemplate" from="weapon.sextans_sword" id="weapon.sextans_sword_r2"

clone "WeaponTemplate" from="weapon.sextans_sword" id="weapon.sextans_sword_r3"

clone "WeaponTemplate" from="weapon.sextans_sword" id="weapon.sextans_sword_r4"

clone "WeaponTemplate" from="weapon.sextans_sword" id="weapon.sextans_sword_r5"

clone "WeaponTemplate" from="weapon.sextans_sword" id="weapon.sextans_sword_r6"

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_component_sextans_sword" {
    set "Title" {
        set "m_DefaultTranslation" "Night Snake Component"
    }
    set "Description" {
        set "m_DefaultTranslation" "[PLACEHOLDER] Weapon component for Night Snake"
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="weapon/sextans_sword/Icon"
    set "Rarity" 0
    set "TradeValue" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "BlueprintTemplate" from="blueprint.squad_weapon_electro_magnetic_enhanced_assault_rifle" id="blueprint.wmgfl_sextans_sword_duplicate" {
    set "m_CraftingResult" "weapon.sextans_sword"
    clear "m_CraftingMaterials"
    append "m_CraftingMaterials" {
        set "Template" "commodity.wmgfl_component_sextans_sword"
        set "Count" 1
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_weapon_parts"
        set "Count" 4
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_cybernetic_optics"
        set "Count" 2
    }
}
