clone "WeaponTemplate" from="weapon.sextans" id="weapon.sextans_r1" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_slash_r1"
    append "SkillsGranted" "active.sextans_thrust_r1"
    append "SkillsGranted" "active.sextans_ult_r1"
    append "SkillsGranted" "active.sextans_ult_strike_r1"
    append "SkillsGranted" "active.sextans_ult_rend_r1"
}

clone "WeaponTemplate" from="weapon.sextans" id="weapon.sextans_r2" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_slash_r2"
    append "SkillsGranted" "active.sextans_thrust_r2"
    append "SkillsGranted" "active.sextans_ult_r2"
    append "SkillsGranted" "active.sextans_ult_strike_r2"
    append "SkillsGranted" "active.sextans_ult_rend_r2"
}

clone "WeaponTemplate" from="weapon.sextans" id="weapon.sextans_r3" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_slash_r3"
    append "SkillsGranted" "active.sextans_thrust_r3"
    append "SkillsGranted" "active.sextans_ult_r3"
    append "SkillsGranted" "active.sextans_ult_strike_r3"
    append "SkillsGranted" "active.sextans_ult_rend_r3"
}

clone "WeaponTemplate" from="weapon.sextans" id="weapon.sextans_r4" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_slash_r4"
    append "SkillsGranted" "active.sextans_thrust_r4"
    append "SkillsGranted" "active.sextans_ult_r4"
    append "SkillsGranted" "active.sextans_ult_strike_r4"
    append "SkillsGranted" "active.sextans_ult_rend_r4"
}

clone "WeaponTemplate" from="weapon.sextans" id="weapon.sextans_r5" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_slash_r5"
    append "SkillsGranted" "active.sextans_thrust_r5"
    append "SkillsGranted" "active.sextans_ult_r5"
    append "SkillsGranted" "active.sextans_ult_strike_r5"
    append "SkillsGranted" "active.sextans_ult_rend_r5"
}

clone "WeaponTemplate" from="weapon.sextans" id="weapon.sextans_r6" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_slash_r6"
    append "SkillsGranted" "active.sextans_thrust_r6"
    append "SkillsGranted" "active.sextans_ult_r6"
    append "SkillsGranted" "active.sextans_ult_strike_r6"
    append "SkillsGranted" "active.sextans_ult_rend_r6"
}

clone "SkillTemplate" from="active.sextans_slash" id="active.sextans_slash_r1" {
    set "EventHandlers" index=0 {
        set "Damage" 33.0
        set "ArmorPenetration" 110.0
        set "DamageToArmorDurability" 55.0
    }
}

clone "SkillTemplate" from="active.sextans_slash" id="active.sextans_slash_r2" {
    set "EventHandlers" index=0 {
        set "Damage" 36.3
        set "ArmorPenetration" 121.0
        set "DamageToArmorDurability" 60.5
    }
}

clone "SkillTemplate" from="active.sextans_slash" id="active.sextans_slash_r3" {
    set "EventHandlers" index=0 {
        set "Damage" 39.9
        set "ArmorPenetration" 133.0
        set "DamageToArmorDurability" 66.5
    }
}

clone "SkillTemplate" from="active.sextans_slash" id="active.sextans_slash_r4" {
    set "EventHandlers" index=0 {
        set "Damage" 43.8
        set "ArmorPenetration" 146.0
        set "DamageToArmorDurability" 73.0
    }
}

clone "SkillTemplate" from="active.sextans_slash" id="active.sextans_slash_r5" {
    set "EventHandlers" index=0 {
        set "Damage" 48.3
        set "ArmorPenetration" 161.0
        set "DamageToArmorDurability" 80.5
    }
}

clone "SkillTemplate" from="active.sextans_slash" id="active.sextans_slash_r6" {
    set "EventHandlers" index=0 {
        set "Damage" 53.1
        set "ArmorPenetration" 177.0
        set "DamageToArmorDurability" 88.5
    }
}

clone "SkillTemplate" from="active.sextans_thrust" id="active.sextans_thrust_r1" {
    set "EventHandlers" index=0 {
        set "Damage" 27.5
        set "ArmorPenetration" 110.0
        set "DamageToArmorDurability" 44.0
    }
}

clone "SkillTemplate" from="active.sextans_thrust" id="active.sextans_thrust_r2" {
    set "EventHandlers" index=0 {
        set "Damage" 30.2
        set "ArmorPenetration" 121.0
        set "DamageToArmorDurability" 48.4
    }
}

clone "SkillTemplate" from="active.sextans_thrust" id="active.sextans_thrust_r3" {
    set "EventHandlers" index=0 {
        set "Damage" 33.2
        set "ArmorPenetration" 133.0
        set "DamageToArmorDurability" 53.2
    }
}

clone "SkillTemplate" from="active.sextans_thrust" id="active.sextans_thrust_r4" {
    set "EventHandlers" index=0 {
        set "Damage" 36.5
        set "ArmorPenetration" 146.0
        set "DamageToArmorDurability" 58.4
    }
}

clone "SkillTemplate" from="active.sextans_thrust" id="active.sextans_thrust_r5" {
    set "EventHandlers" index=0 {
        set "Damage" 40.2
        set "ArmorPenetration" 161.0
        set "DamageToArmorDurability" 64.4
    }
}

clone "SkillTemplate" from="active.sextans_thrust" id="active.sextans_thrust_r6" {
    set "EventHandlers" index=0 {
        set "Damage" 44.2
        set "ArmorPenetration" 177.0
        set "DamageToArmorDurability" 70.8
    }
}

clone "SkillTemplate" from="active.sextans_ult" id="active.sextans_ult_r1" {
    set "EventHandlers" index=0 {
        set "Damage" 55.0
        set "ArmorPenetration" 132.0
        set "DamageToArmorDurability" 55.0
    }
}

clone "SkillTemplate" from="active.sextans_ult" id="active.sextans_ult_r2" {
    set "EventHandlers" index=0 {
        set "Damage" 60.5
        set "ArmorPenetration" 145.2
        set "DamageToArmorDurability" 60.5
    }
}

clone "SkillTemplate" from="active.sextans_ult" id="active.sextans_ult_r3" {
    set "EventHandlers" index=0 {
        set "Damage" 66.5
        set "ArmorPenetration" 159.6
        set "DamageToArmorDurability" 66.5
    }
}

clone "SkillTemplate" from="active.sextans_ult" id="active.sextans_ult_r4" {
    set "EventHandlers" index=0 {
        set "Damage" 73.0
        set "ArmorPenetration" 175.2
        set "DamageToArmorDurability" 73.0
    }
}

clone "SkillTemplate" from="active.sextans_ult" id="active.sextans_ult_r5" {
    set "EventHandlers" index=0 {
        set "Damage" 80.5
        set "ArmorPenetration" 193.2
        set "DamageToArmorDurability" 80.5
    }
}

clone "SkillTemplate" from="active.sextans_ult" id="active.sextans_ult_r6" {
    set "EventHandlers" index=0 {
        set "Damage" 88.5
        set "ArmorPenetration" 212.4
        set "DamageToArmorDurability" 88.5
    }
}

clone "SkillTemplate" from="active.sextans_ult_strike" id="active.sextans_ult_strike_r1" {
    set "EventHandlers" index=0 {
        set "Damage" 55.0
        set "ArmorPenetration" 132.0
        set "DamageToArmorDurability" 55.0
    }
}

clone "SkillTemplate" from="active.sextans_ult_strike" id="active.sextans_ult_strike_r2" {
    set "EventHandlers" index=0 {
        set "Damage" 60.5
        set "ArmorPenetration" 145.2
        set "DamageToArmorDurability" 60.5
    }
}

clone "SkillTemplate" from="active.sextans_ult_strike" id="active.sextans_ult_strike_r3" {
    set "EventHandlers" index=0 {
        set "Damage" 66.5
        set "ArmorPenetration" 159.6
        set "DamageToArmorDurability" 66.5
    }
}

clone "SkillTemplate" from="active.sextans_ult_strike" id="active.sextans_ult_strike_r4" {
    set "EventHandlers" index=0 {
        set "Damage" 73.0
        set "ArmorPenetration" 175.2
        set "DamageToArmorDurability" 73.0
    }
}

clone "SkillTemplate" from="active.sextans_ult_strike" id="active.sextans_ult_strike_r5" {
    set "EventHandlers" index=0 {
        set "Damage" 80.5
        set "ArmorPenetration" 193.2
        set "DamageToArmorDurability" 80.5
    }
}

clone "SkillTemplate" from="active.sextans_ult_strike" id="active.sextans_ult_strike_r6" {
    set "EventHandlers" index=0 {
        set "Damage" 88.5
        set "ArmorPenetration" 212.4
        set "DamageToArmorDurability" 88.5
    }
}

clone "SkillTemplate" from="active.sextans_ult_rend" id="active.sextans_ult_rend_r1" {
    set "EventHandlers" index=0 {
        set "Damage" 22.0
        set "ArmorPenetration" 110.0
    }
}

clone "SkillTemplate" from="active.sextans_ult_rend" id="active.sextans_ult_rend_r2" {
    set "EventHandlers" index=0 {
        set "Damage" 24.2
        set "ArmorPenetration" 121.0
    }
}

clone "SkillTemplate" from="active.sextans_ult_rend" id="active.sextans_ult_rend_r3" {
    set "EventHandlers" index=0 {
        set "Damage" 26.6
        set "ArmorPenetration" 133.0
    }
}

clone "SkillTemplate" from="active.sextans_ult_rend" id="active.sextans_ult_rend_r4" {
    set "EventHandlers" index=0 {
        set "Damage" 29.2
        set "ArmorPenetration" 146.0
    }
}

clone "SkillTemplate" from="active.sextans_ult_rend" id="active.sextans_ult_rend_r5" {
    set "EventHandlers" index=0 {
        set "Damage" 32.2
        set "ArmorPenetration" 161.0
    }
}

clone "SkillTemplate" from="active.sextans_ult_rend" id="active.sextans_ult_rend_r6" {
    set "EventHandlers" index=0 {
        set "Damage" 35.4
        set "ArmorPenetration" 177.0
    }
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_component_sextans" {
    set "Title" {
        set "m_DefaultTranslation" "Night Snake Component"
    }
    set "Description" {
        set "m_DefaultTranslation" "[PLACEHOLDER] Weapon component for Night Snake"
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="weapon/sextans/Icon"
    set "Rarity" 0
    set "TradeValue" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "BlueprintTemplate" from="blueprint.squad_weapon_electro_magnetic_enhanced_assault_rifle" id="blueprint.wmgfl_sextans_duplicate" {
    set "m_CraftingResult" "weapon.sextans"
    clear "m_CraftingMaterials"
    append "m_CraftingMaterials" {
        set "Template" "commodity.wmgfl_component_sextans"
        set "Count" 1
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_weapon_parts"
        set "Count" 4
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_cybernetic_optics"
        set "Count" 2
    }
}

// --- SSR: ranks, component, duplicate blueprint --------------------------------------
clone "WeaponTemplate" from="weapon.sextans_ssr" id="weapon.sextans_ssr_r1" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_ssr_slash_r1"
    append "SkillsGranted" "active.sextans_ssr_thrust_r1"
    append "SkillsGranted" "active.sextans_ssr_ult_r1"
    append "SkillsGranted" "active.sextans_ssr_ult_strike_r1"
    append "SkillsGranted" "active.sextans_ssr_ult_rend_r1"
}

clone "WeaponTemplate" from="weapon.sextans_ssr" id="weapon.sextans_ssr_r2" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_ssr_slash_r2"
    append "SkillsGranted" "active.sextans_ssr_thrust_r2"
    append "SkillsGranted" "active.sextans_ssr_ult_r2"
    append "SkillsGranted" "active.sextans_ssr_ult_strike_r2"
    append "SkillsGranted" "active.sextans_ssr_ult_rend_r2"
}

clone "WeaponTemplate" from="weapon.sextans_ssr" id="weapon.sextans_ssr_r3" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_ssr_slash_r3"
    append "SkillsGranted" "active.sextans_ssr_thrust_r3"
    append "SkillsGranted" "active.sextans_ssr_ult_r3"
    append "SkillsGranted" "active.sextans_ssr_ult_strike_r3"
    append "SkillsGranted" "active.sextans_ssr_ult_rend_r3"
}

clone "WeaponTemplate" from="weapon.sextans_ssr" id="weapon.sextans_ssr_r4" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_ssr_slash_r4"
    append "SkillsGranted" "active.sextans_ssr_thrust_r4"
    append "SkillsGranted" "active.sextans_ssr_ult_r4"
    append "SkillsGranted" "active.sextans_ssr_ult_strike_r4"
    append "SkillsGranted" "active.sextans_ssr_ult_rend_r4"
}

clone "WeaponTemplate" from="weapon.sextans_ssr" id="weapon.sextans_ssr_r5" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_ssr_slash_r5"
    append "SkillsGranted" "active.sextans_ssr_thrust_r5"
    append "SkillsGranted" "active.sextans_ssr_ult_r5"
    append "SkillsGranted" "active.sextans_ssr_ult_strike_r5"
    append "SkillsGranted" "active.sextans_ssr_ult_rend_r5"
}

clone "WeaponTemplate" from="weapon.sextans_ssr" id="weapon.sextans_ssr_r6" {
    clear "SkillsGranted"
    append "SkillsGranted" "active.sextans_ssr_slash_r6"
    append "SkillsGranted" "active.sextans_ssr_thrust_r6"
    append "SkillsGranted" "active.sextans_ssr_ult_r6"
    append "SkillsGranted" "active.sextans_ssr_ult_strike_r6"
    append "SkillsGranted" "active.sextans_ssr_ult_rend_r6"
}

clone "SkillTemplate" from="active.sextans_ssr_slash" id="active.sextans_ssr_slash_r1" {
    set "EventHandlers" index=0 {
        set "Damage" 44.0
        set "ArmorPenetration" 110.0
        set "DamageToArmorDurability" 55.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_slash" id="active.sextans_ssr_slash_r2" {
    set "EventHandlers" index=0 {
        set "Damage" 48.4
        set "ArmorPenetration" 121.0
        set "DamageToArmorDurability" 60.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_slash" id="active.sextans_ssr_slash_r3" {
    set "EventHandlers" index=0 {
        set "Damage" 53.2
        set "ArmorPenetration" 133.0
        set "DamageToArmorDurability" 66.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_slash" id="active.sextans_ssr_slash_r4" {
    set "EventHandlers" index=0 {
        set "Damage" 58.4
        set "ArmorPenetration" 146.0
        set "DamageToArmorDurability" 73.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_slash" id="active.sextans_ssr_slash_r5" {
    set "EventHandlers" index=0 {
        set "Damage" 64.4
        set "ArmorPenetration" 161.0
        set "DamageToArmorDurability" 80.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_slash" id="active.sextans_ssr_slash_r6" {
    set "EventHandlers" index=0 {
        set "Damage" 70.8
        set "ArmorPenetration" 177.0
        set "DamageToArmorDurability" 88.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_thrust" id="active.sextans_ssr_thrust_r1" {
    set "EventHandlers" index=0 {
        set "Damage" 38.5
        set "ArmorPenetration" 110.0
        set "DamageToArmorDurability" 44.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_thrust" id="active.sextans_ssr_thrust_r2" {
    set "EventHandlers" index=0 {
        set "Damage" 42.4
        set "ArmorPenetration" 121.0
        set "DamageToArmorDurability" 48.4
    }
}

clone "SkillTemplate" from="active.sextans_ssr_thrust" id="active.sextans_ssr_thrust_r3" {
    set "EventHandlers" index=0 {
        set "Damage" 46.6
        set "ArmorPenetration" 133.0
        set "DamageToArmorDurability" 53.2
    }
}

clone "SkillTemplate" from="active.sextans_ssr_thrust" id="active.sextans_ssr_thrust_r4" {
    set "EventHandlers" index=0 {
        set "Damage" 51.1
        set "ArmorPenetration" 146.0
        set "DamageToArmorDurability" 58.4
    }
}

clone "SkillTemplate" from="active.sextans_ssr_thrust" id="active.sextans_ssr_thrust_r5" {
    set "EventHandlers" index=0 {
        set "Damage" 56.4
        set "ArmorPenetration" 161.0
        set "DamageToArmorDurability" 64.4
    }
}

clone "SkillTemplate" from="active.sextans_ssr_thrust" id="active.sextans_ssr_thrust_r6" {
    set "EventHandlers" index=0 {
        set "Damage" 62.0
        set "ArmorPenetration" 177.0
        set "DamageToArmorDurability" 70.8
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult" id="active.sextans_ssr_ult_r1" {
    set "EventHandlers" index=0 {
        set "Damage" 55.0
        set "ArmorPenetration" 132.0
        set "DamageToArmorDurability" 55.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult" id="active.sextans_ssr_ult_r2" {
    set "EventHandlers" index=0 {
        set "Damage" 60.5
        set "ArmorPenetration" 145.2
        set "DamageToArmorDurability" 60.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult" id="active.sextans_ssr_ult_r3" {
    set "EventHandlers" index=0 {
        set "Damage" 66.5
        set "ArmorPenetration" 159.6
        set "DamageToArmorDurability" 66.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult" id="active.sextans_ssr_ult_r4" {
    set "EventHandlers" index=0 {
        set "Damage" 73.0
        set "ArmorPenetration" 175.2
        set "DamageToArmorDurability" 73.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult" id="active.sextans_ssr_ult_r5" {
    set "EventHandlers" index=0 {
        set "Damage" 80.5
        set "ArmorPenetration" 193.2
        set "DamageToArmorDurability" 80.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult" id="active.sextans_ssr_ult_r6" {
    set "EventHandlers" index=0 {
        set "Damage" 88.5
        set "ArmorPenetration" 212.4
        set "DamageToArmorDurability" 88.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_strike" id="active.sextans_ssr_ult_strike_r1" {
    set "EventHandlers" index=0 {
        set "Damage" 55.0
        set "ArmorPenetration" 132.0
        set "DamageToArmorDurability" 55.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_strike" id="active.sextans_ssr_ult_strike_r2" {
    set "EventHandlers" index=0 {
        set "Damage" 60.5
        set "ArmorPenetration" 145.2
        set "DamageToArmorDurability" 60.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_strike" id="active.sextans_ssr_ult_strike_r3" {
    set "EventHandlers" index=0 {
        set "Damage" 66.5
        set "ArmorPenetration" 159.6
        set "DamageToArmorDurability" 66.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_strike" id="active.sextans_ssr_ult_strike_r4" {
    set "EventHandlers" index=0 {
        set "Damage" 73.0
        set "ArmorPenetration" 175.2
        set "DamageToArmorDurability" 73.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_strike" id="active.sextans_ssr_ult_strike_r5" {
    set "EventHandlers" index=0 {
        set "Damage" 80.5
        set "ArmorPenetration" 193.2
        set "DamageToArmorDurability" 80.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_strike" id="active.sextans_ssr_ult_strike_r6" {
    set "EventHandlers" index=0 {
        set "Damage" 88.5
        set "ArmorPenetration" 212.4
        set "DamageToArmorDurability" 88.5
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_rend" id="active.sextans_ssr_ult_rend_r1" {
    set "EventHandlers" index=0 {
        set "Damage" 22.0
        set "ArmorPenetration" 110.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_rend" id="active.sextans_ssr_ult_rend_r2" {
    set "EventHandlers" index=0 {
        set "Damage" 24.2
        set "ArmorPenetration" 121.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_rend" id="active.sextans_ssr_ult_rend_r3" {
    set "EventHandlers" index=0 {
        set "Damage" 26.6
        set "ArmorPenetration" 133.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_rend" id="active.sextans_ssr_ult_rend_r4" {
    set "EventHandlers" index=0 {
        set "Damage" 29.2
        set "ArmorPenetration" 146.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_rend" id="active.sextans_ssr_ult_rend_r5" {
    set "EventHandlers" index=0 {
        set "Damage" 32.2
        set "ArmorPenetration" 161.0
    }
}

clone "SkillTemplate" from="active.sextans_ssr_ult_rend" id="active.sextans_ssr_ult_rend_r6" {
    set "EventHandlers" index=0 {
        set "Damage" 35.4
        set "ArmorPenetration" 177.0
    }
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_component_sextans_ssr" {
    set "Title" {
        set "m_DefaultTranslation" "Twilight Rose Component"
    }
    set "Description" {
        set "m_DefaultTranslation" "[PLACEHOLDER] Weapon component for Twilight Rose"
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="weapon/sextans_ssr/Icon"
    set "Rarity" 0
    set "TradeValue" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "BlueprintTemplate" from="blueprint.squad_weapon_electro_magnetic_enhanced_assault_rifle" id="blueprint.wmgfl_sextans_ssr_duplicate" {
    set "m_CraftingResult" "weapon.sextans_ssr"
    clear "m_CraftingMaterials"
    append "m_CraftingMaterials" {
        set "Template" "commodity.wmgfl_component_sextans_ssr"
        set "Count" 1
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_weapon_parts"
        set "Count" 4
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_cybernetic_optics"
        set "Count" 2
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_advanced_alloys"
        set "Count" 2
    }
}
