clone "ConversationTemplate" from="Carda_Early/morale_recovery" id="Jiangyu/morale_recovery_jiangyu" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_jiangyu"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_jiangyu_va"
                        set "itemId" "Series_Up_004"
                    }
                    set "RoleGuid" "Recovered"
                    set "Text" "Knew it!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/morale_wavering" id="Jiangyu/morale_wavering_jiangyu" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_jiangyu"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_jiangyu_va"
                        set "itemId" "Series_Battle_Start_Series_Tone_Positive_009"
                    }
                    set "RoleGuid" "Wavering"
                    set "Text" "Here I come!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/squaddie_death_bleed" id="Jiangyu/squaddie_death_bleed_jiangyu" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_jiangyu"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_jiangyu_va"
                        set "itemId" "Series_Dying_Series_HittedLast_Series_Shield_Broken_Series_Tone_Negative_002"
                    }
                    set "RoleGuid" "Victim"
                    set "Text" "Ow, ow, ow!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
