clone "ConversationTemplate" from="Carda_Early/objective_first" id="Jiangyu/objective_first_jiangyu" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_jiangyu"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_jiangyu_va"
                        set "itemId" "Series_Win_Single_Win_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "I told you--I'm an Elite Doll who can take on hundreds all by myself! Hehe!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/objective_second" id="Jiangyu/objective_second_jiangyu" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_jiangyu"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_jiangyu_va"
                        set "itemId" "Series_Skill02_Single_Skill_002"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "That's it? I can handle it all by myself!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/objective_third" id="Jiangyu/objective_third_jiangyu" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_jiangyu"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_jiangyu_va"
                        set "itemId" "Series_Tone_Positive_008"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "What now?"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
