clone "SoundBank" from="tactical_barks_carda_va_full_mid" id="wmgfl_tactical_barks_jiangyu_va" {
    clear "sounds"
    clear "busIndices"
    append "sounds" {
        set "name" "BarrackEntrance_Normal"
        append "variations" {
            set "clip" asset="jiangyu/BarrackEntrance_Normal"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "BarrackEntrance_Normal_Entry"
        append "variations" {
            set "clip" asset="jiangyu/BarrackEntrance_Normal_Entry"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_0101"
        append "variations" {
            set "clip" asset="jiangyu/Bedroom_0101"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_01_Idle"
        append "variations" {
            set "clip" asset="jiangyu/Bedroom_01_Idle"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_0201"
        append "variations" {
            set "clip" asset="jiangyu/Bedroom_0201"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_0301"
        append "variations" {
            set "clip" asset="jiangyu/Bedroom_0301"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_03_Idle"
        append "variations" {
            set "clip" asset="jiangyu/Bedroom_03_Idle"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_0401"
        append "variations" {
            set "clip" asset="jiangyu/Bedroom_0401"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_0501"
        append "variations" {
            set "clip" asset="jiangyu/Bedroom_0501"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_0601"
        append "variations" {
            set "clip" asset="jiangyu/Bedroom_0601"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_After"
        append "variations" {
            set "clip" asset="jiangyu/Bedroom_After"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_Before"
        append "variations" {
            set "clip" asset="jiangyu/Bedroom_Before"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Behave_InspectNormal"
        append "variations" {
            set "clip" asset="jiangyu/Behave_InspectNormal"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Behave_Stretch"
        append "variations" {
            set "clip" asset="jiangyu/Behave_Stretch"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Break"
        append "variations" {
            set "clip" asset="jiangyu/Break"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Camera_Aroud"
        append "variations" {
            set "clip" asset="jiangyu/Camera_Aroud"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Camera_Look"
        append "variations" {
            set "clip" asset="jiangyu/Camera_Look"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Darkzone_Entry"
        append "variations" {
            set "clip" asset="jiangyu/Darkzone_Entry"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "End"
        append "variations" {
            set "clip" asset="jiangyu/End"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Gacha"
        append "variations" {
            set "clip" asset="jiangyu/Gacha"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Attack_Series_Tone_Positive_003"
        append "variations" {
            set "clip" asset="jiangyu/Series_Attack_Series_Tone_Positive_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Battle_Start_Series_Hit_Series_Tone_Positive_009"
        append "variations" {
            set "clip" asset="jiangyu/Series_Battle_Start_Series_Hit_Series_Tone_Positive_009"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Battle_Start_Series_Tone_Positive_009"
        append "variations" {
            set "clip" asset="jiangyu/Series_Battle_Start_Series_Tone_Positive_009"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Cancel_Series_Tone_Positive_010"
        append "variations" {
            set "clip" asset="jiangyu/Series_Cancel_Series_Tone_Positive_010"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Chosen_Auto_Series_Up_006"
        append "variations" {
            set "clip" asset="jiangyu/Series_Chosen_Auto_Series_Up_006"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Chosen_Single_Passive_SSR_001"
        append "variations" {
            set "clip" asset="jiangyu/Series_Chosen_Single_Passive_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_001"
        append "variations" {
            set "clip" asset="jiangyu/Series_Daily_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_002"
        append "variations" {
            set "clip" asset="jiangyu/Series_Daily_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_003"
        append "variations" {
            set "clip" asset="jiangyu/Series_Daily_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_004"
        append "variations" {
            set "clip" asset="jiangyu/Series_Daily_004"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_005"
        append "variations" {
            set "clip" asset="jiangyu/Series_Daily_005"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_006"
        append "variations" {
            set "clip" asset="jiangyu/Series_Daily_006"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_007"
        append "variations" {
            set "clip" asset="jiangyu/Series_Daily_007"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_008"
        append "variations" {
            set "clip" asset="jiangyu/Series_Daily_008"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_009"
        append "variations" {
            set "clip" asset="jiangyu/Series_Daily_009"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_010"
        append "variations" {
            set "clip" asset="jiangyu/Series_Daily_010"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Die_Series_HittedLast_Series_Tone_Negative_001"
        append "variations" {
            set "clip" asset="jiangyu/Series_Die_Series_HittedLast_Series_Tone_Negative_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Dying_Series_HittedLast_Series_Shield_Broken_Series_Tone_Negative_002"
        append "variations" {
            set "clip" asset="jiangyu/Series_Dying_Series_HittedLast_Series_Shield_Broken_Series_Tone_Negative_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Hit_Series_Set_Fall_Series_Tone_Positive_007"
        append "variations" {
            set "clip" asset="jiangyu/Series_Hit_Series_Set_Fall_Series_Tone_Positive_007"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Hit_Series_Tone_Positive_002"
        append "variations" {
            set "clip" asset="jiangyu/Series_Hit_Series_Tone_Positive_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Hit_Single_Hit_001"
        append "variations" {
            set "clip" asset="jiangyu/Series_Hit_Single_Hit_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Hitted"
        append "variations" {
            set "clip" asset="jiangyu/Series_Hitted"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_HittedLast_Series_Shield_Broken_Series_Tone_Positive_004"
        append "variations" {
            set "clip" asset="jiangyu/Series_HittedLast_Series_Shield_Broken_Series_Tone_Positive_004"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Kill_Single_Kill_001"
        append "variations" {
            set "clip" asset="jiangyu/Series_Kill_Single_Kill_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Lose_Single_Lose_001"
        append "variations" {
            set "clip" asset="jiangyu/Series_Lose_Single_Lose_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Set_Click_Series_Tone_Positive_005"
        append "variations" {
            set "clip" asset="jiangyu/Series_Set_Click_Series_Tone_Positive_005"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Set_Fall_Series_Tone_Positive_007"
        append "variations" {
            set "clip" asset="jiangyu/Series_Set_Fall_Series_Tone_Positive_007"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Skill01_Single_Skill_001"
        append "variations" {
            set "clip" asset="jiangyu/Series_Skill01_Single_Skill_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Skill02_Single_Skill_002"
        append "variations" {
            set "clip" asset="jiangyu/Series_Skill02_Single_Skill_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Tone_Positive_001"
        append "variations" {
            set "clip" asset="jiangyu/Series_Tone_Positive_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Tone_Positive_002"
        append "variations" {
            set "clip" asset="jiangyu/Series_Tone_Positive_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Tone_Positive_006"
        append "variations" {
            set "clip" asset="jiangyu/Series_Tone_Positive_006"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Tone_Positive_008"
        append "variations" {
            set "clip" asset="jiangyu/Series_Tone_Positive_008"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Ultimate_Single_Ultimate_SSR_001"
        append "variations" {
            set "clip" asset="jiangyu/Series_Ultimate_Single_Ultimate_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_002"
        append "variations" {
            set "clip" asset="jiangyu/Series_Up_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_003"
        append "variations" {
            set "clip" asset="jiangyu/Series_Up_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_004"
        append "variations" {
            set "clip" asset="jiangyu/Series_Up_004"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_005"
        append "variations" {
            set "clip" asset="jiangyu/Series_Up_005"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_007"
        append "variations" {
            set "clip" asset="jiangyu/Series_Up_007"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_008"
        append "variations" {
            set "clip" asset="jiangyu/Series_Up_008"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Win_Single_Win_001"
        append "variations" {
            set "clip" asset="jiangyu/Series_Win_Single_Win_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Acquire_R_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Acquire_R_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Acquire_SSR_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Acquire_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Anniversary_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Anniversary_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Birthday_R_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Birthday_R_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Birthday_SSR_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Birthday_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Birthday_SSR_002"
        append "variations" {
            set "clip" asset="jiangyu/Single_Birthday_SSR_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Children_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Children_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Christmas_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Christmas_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Christmas_002"
        append "variations" {
            set "clip" asset="jiangyu/Single_Christmas_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Duanwu_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Duanwu_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_002"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_003"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_004"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_004"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_005"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_005"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_006"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_006"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_007"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_007"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_008"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_008"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_009"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_009"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_010"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_010"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_011"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_011"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_012"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_012"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_013"
        append "variations" {
            set "clip" asset="jiangyu/Single_Friendliness_013"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Login_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Login_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_MidAutumn_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_MidAutumn_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_MidAutumn_002"
        append "variations" {
            set "clip" asset="jiangyu/Single_MidAutumn_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_NewYear_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_NewYear_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_NewYear_002"
        append "variations" {
            set "clip" asset="jiangyu/Single_NewYear_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Obon_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Obon_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Obtain_SSR_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Obtain_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_SpringFes_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_SpringFes_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_SpringFes_002"
        append "variations" {
            set "clip" asset="jiangyu/Single_SpringFes_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_ThanksGiving_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_ThanksGiving_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Title_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Title_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Valentine_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_Valentine_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Valentine_002"
        append "variations" {
            set "clip" asset="jiangyu/Single_Valentine_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_WhiteVale_001"
        append "variations" {
            set "clip" asset="jiangyu/Single_WhiteVale_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Touch_Gun"
        append "variations" {
            set "clip" asset="jiangyu/Touch_Gun"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Touch_Head"
        append "variations" {
            set "clip" asset="jiangyu/Touch_Head"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Touch_Pocket"
        append "variations" {
            set "clip" asset="jiangyu/Touch_Pocket"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Upgrade"
        append "variations" {
            set "clip" asset="jiangyu/Upgrade"
        }
    }
    append "busIndices" 0
}
