clone "TagTemplate" from="unique" id="wmgfl_leva"

clone "SpeakerTemplate" from="sy" id="wmgfl_leva_speaker" {
    set "Tags" "wmgfl_leva pirate_sl female infantry waybacker wmgfl_class_smg"
    set "Nickname" {
        set "m_DefaultTranslation" "Leva"
    }
    set "Forename" {
        set "m_DefaultTranslation" "Leva"
    }
    set "Surname" {
        set "m_DefaultTranslation" ""
    }
    set "Description" {
        set "m_DefaultTranslation" """
            Name: Leva (UMP 45)

            Proficiency: Stealth & Single Target

            Birth: Unknown

            Age: Classified

            Affiliation(s): H.I.D.E. 404
            """
    }

    set "BarkImage" asset="leva/bark"
    set "StandLookLeftImage" asset="leva/stand_look_left"
    set "StandLookRightImage" asset="leva/stand_look_right"
    set "StandLookRightInactiveImage" asset="leva/stand_look_right_inactive"
}

clone "EntityTemplate" from="player_squad.sy" id="player_squad.leva" {
    append "Tags" "wmgfl_leva"
    set "Title" {
        set "m_DefaultTranslation" "H.I.D.E. 404"
    }
    set "Description" {
        set "m_DefaultTranslation" """
            If you find the Doll before you friendly and approachable, you've most likely already stepped into her trap. If you fail to notice in time, Leva takes no responsibility for whatever losses follow—unless... that person is you.

            "Commander, you're not deliberately taking the loss, are you? Hehe♪ Well, that's fine too. How would you like me to take responsibility for you?"
            """
    }

    set "Badge" asset="leva/badge_mini"
    set "BadgeWhite" asset="leva/badge_mini"
    clear "Items"
    append "Items" "armor.player_fatigues"
    append "Items" "weapon.leva"
}

clone "UnitLeaderTemplate" from="squad_leader.sy" id="squad_leader.leva" {
    set "InfantryUnitTemplate" "player_squad.leva"
    set "SpeakerTemplate" "wmgfl_leva_speaker"
    set "CustomHead" #null
    set "UnitTitle" {
        set "m_DefaultTranslation" "Tactical Doll"
    }
    set "UnitDescription" {
        set "m_DefaultTranslation" """
            If you find the Doll before you friendly and approachable, you've most likely already stepped into her trap. If you fail to notice in time, Leva takes no responsibility for whatever losses follow—unless... that person is you.

            "Commander, you're not deliberately taking the loss, are you? Hehe♪ Well, that's fine too. How would you like me to take responsibility for you?"
            """
    }

    set "InitialAttributes" index=0 100
    set "InitialAttributes" index=1 75
    set "InitialAttributes" index=2 80
    set "InitialAttributes" index=3 100
    set "InitialAttributes" index=4 100
    set "InitialAttributes" index=5 20
    set "InitialAttributes" index=6 100

    set "QualityLevel" 3
    set "GrowthPotential" 5
    set "FixedSupplyCost" 60
    set "SquaddieTax" 45
    set "Rarity" 5

    set "InitialPerk" "perk.covert_ops"
    set "PerkTrees" index=0 "perk_tree.leva"

    set "Slot" asset="leva/slot"
    set "SlotInactive" asset="leva/slot_inactive"
    set "SlotBadge" asset="leva/slot_badge"

    set "BadgeDragged" asset="leva/badge_dragged"
    set "BigBadge" asset="leva/big_badge"
    set "BadgeUnitWindow" asset="leva/badge_unit_window"
    set "BadgeMini" asset="leva/badge_mini"

    set "HiringSelectBarkSound" {
        set "bankId" "wmgfl_tactical_barks_leva_va"
        set "itemId" "Series_Chosen_Series_Tone_Positive_006"
    }
    set "HiredBarkSound" {
        set "bankId" "wmgfl_tactical_barks_leva_va"
        set "itemId" "Series_Chosen_Auto_Series_Tone_Positive_007"
    }

    set "PromotionBarkSounds" index=0 {
        set "PerkTier" 1
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Series_Up_002"
        }
    }
    set "PromotionBarkSounds" index=1 {
        set "PerkTier" 2
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Series_Up_003"
        }
    }
    set "PromotionBarkSounds" index=2 {
        set "PerkTier" 3
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Series_Up_004"
        }
    }
    set "PromotionBarkSounds" index=3 {
        set "PerkTier" 4
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Series_Up_005"
        }
    }

    clear "EmotionalStateResponses"
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Eager"
        set "Text" {
            set "m_DefaultTranslation" "Come closer, Commander. What's this? Worried about your nose?"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Series_Daily_002"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Determined"
        set "Text" {
            set "m_DefaultTranslation" "We'll soon be in a closer partnership than ever before~ Aren't you looking forward to it, Commander~?"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Single_Obtain_SSR_001"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Overconfident"
        set "Text" {
            set "m_DefaultTranslation" "Every time I see Klukai working hard, I can't help but want to bully her a little... Ah, you don't have to keep that a secret, Commander."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Series_Daily_003"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Euphoric"
        set "Text" {
            set "m_DefaultTranslation" "Oh my, it's you, Commander~ What's this, were you thinking of me~?"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Single_Login_001"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Hesitant"
        set "Text" {
            set "m_DefaultTranslation" "Hm"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "End"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Frustrated"
        set "Text" {
            set "m_DefaultTranslation" "Patience, patience~"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Series_Attack_Series_Tone_Positive_003"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Disheartened"
        set "Text" {
            set "m_DefaultTranslation" "At the very least, we know what not to do next time, right?"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Series_Lose_Single_Lose_001"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Miserable"
        set "Text" {
            set "m_DefaultTranslation" "Sigh..."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_leva_va"
            set "itemId" "Touch_Head"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "GoodwillTowards"
        set "Text" {
            set "m_DefaultTranslation" ""
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "AnimosityTowards"
        set "Text" {
            set "m_DefaultTranslation" ""
        }
    }
}
