clone "WeaponTemplate" from="weapon.generic_smg_tier1_ppp_sof" id="weapon.leva" {
    append "Tags" "jy_no_sell"
    set "Title" {
        set "m_DefaultTranslation" "UMP45"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "SMG"
    }
    set "Description" {
        set "m_DefaultTranslation" "A firearm highly compatible with Leva. Modified based on her combat preferences, it features improved firepower and improves her survivability on the battlefield."
    }
    set "Model" asset="weapon/leva/main"
    set "SkillsGranted" index=0 "active.fire_leva_ump45"
    set "SkillsGranted" index=1 "active.fire_leva_ump45_tap"
    set "Icon" asset="weapon/leva/Icon"
    set "IconEquipment" asset="weapon/leva/IconEquipment"
    set "IconEquipmentDisabled" asset="weapon/leva/IconEquipmentDisabled"
    set "IconSkillBar" asset="weapon/leva/IconSkillBar"
    set "IconSkillBarDisabled" asset="weapon/leva/IconSkillBarDisabled"

    set "AccuracyDropoff" -8.0
    set "ArmorPenetration" 12.0
    set "ArmorPenetrationDropoff" -2.3

    set "Damage" 15.0
    set "DamageDropoff" -1.15
    set "DamageToArmorDurability" 11.0
    set "DamageToArmorDurabilityDropoff" -1.3

    set "MaxRange" 5
    set "IdealRange" 2
    set "Suppression" 3.0

    set "DeployCosts" {
        set "m_Supplies" 13
    }

    set "BlackMarketMaxQuantity" 0
}

clone "SkillTemplate" from="active.fire_smg_tier_1_SOF_suppressed" id="active.fire_leva_ump45" {
    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_smg_addition_bank"
        set "itemId" "smg_burst"
    }
    append "SoundsOnAttack" {
        set "bankId" "weapons_soundbank"
        set "itemId" "small_caliber_brass_burst"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_smg_addition_bank"
        set "itemId" "smg_burst_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_smg_addition_bank"
        set "itemId" "smg_burst_distant"
    }
    set "Repetitions" 4
}

clone "SkillTemplate" from="active.fire_smg_tap_fire_suppressed" id="active.fire_leva_ump45_tap" {
    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_smg_addition_bank"
        set "itemId" "smg_single"
    }
    append "SoundsOnAttack" {
        set "bankId" "weapons_soundbank"
        set "itemId" "small_caliber_brass_burst"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_smg_addition_bank"
        set "itemId" "smg_single_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_smg_addition_bank"
        set "itemId" "smg_single_distant"
    }
}
