clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.koleda" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.call_out_target"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.covert_ops"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.mobile_infantry"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.zig_zag"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.sharpshooter"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.critical_hits"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.minimize_silhouette"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.vanguard"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.door_to_door_corlain"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.directed_fire"
        set "Tier" 4
    }
}

clone "PerkTreeTemplate" from="perk_tree.ivy" id="perk_tree.koleda_pilot" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.expert_pilot_vehicle"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.disruptive_fire"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.roadkill"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.hotwire_vehicle"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.zig_zag"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.wmgfl_drive_by"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.critical_hits"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.minimize_silhouette"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.vanguard"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.commando"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.directed_fire"
        set "Tier" 4
    }
}
