clone "ConversationTemplate" from="Carda_Early/click_bark" id="Cheyanne/click_bark" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 composite="HasOneTag" {
            set "Tags" "cheyanne"
        }
    }
    set "Priority" 100
    set "Nodes" {
        append "m_SerializedNodes" composite="ACTION" {
            set "m_SerAction" composite="SetFlag" {
                set "FlagName" "click_bark_cheyanne"
                set "FlagValue" #true
            }
        }
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_cheyanne_va"
                        set "itemId" "Series_Set_Click_Series_Tone_Positive_004"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Awaiting orders."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_cheyanne_va"
                        set "itemId" "Series_Set_Fall_Series_Tone_Positive_005"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "I won’t let you down."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_cheyanne_va"
                        set "itemId" "Series_Chosen_Auto_Series_Tone_Positive_007"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Roger."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/click_hurt" id="Cheyanne/click_hurt" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 composite="HasOneTag" {
            set "Tags" "cheyanne"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_cheyanne_va"
                        set "itemId" "Series_Chosen_Series_Tone_Positive_006"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "I got this."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/idle_bark_combat" id="Cheyanne/idle_bark_combat" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 composite="HasOneTag" {
            set "Tags" "cheyanne"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "tactical_barks_cheyanne_va"
                        set "itemId" "Single_Passive_SSR_001"
                    }
                    set "RoleGuid" "SL"
                    set "Text" "Time to get serious."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}
