clone "ConversationTemplate" from="Carda_Early/objective_first" id="Cheyanne/objective_first" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 composite="HasOneTag" {
            set "Tags" "wmgfl_cheyanne"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_cheyanne_va"
                        set "itemId" "Series_Win_Single_Win_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "May I take a picture to remember this?"
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/objective_second" id="Cheyanne/objective_second" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 composite="HasOneTag" {
            set "Tags" "wmgfl_cheyanne"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_cheyanne_va"
                        set "itemId" "Series_Up_003"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "This’ll help."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/objective_third" id="Cheyanne/objective_third" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 composite="HasOneTag" {
            set "Tags" "wmgfl_cheyanne"
        }
    }
    set "Nodes" {
        append "m_SerializedNodes" composite="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" composite="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_cheyanne_va"
                        set "itemId" "Series_Up_002"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "I can do this one too."
                }
            }
        }
        append "m_SerializedNodes" composite="EMPTY" {}
    }
}
