clone "SoundBank" from="tactical_barks_carda_va_full_mid" id="tactical_barks_cheyanne_va" {
    clear "sounds"
    clear "busIndices"
    append "sounds" {
        set "name" "Series_Attack_Series_Tone_Positive_003"
        append "variations" {
            set "clip" asset="cheyanne/Series_Attack_Series_Tone_Positive_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Battle_Start_Series_Tone_Positive_002"
        append "variations" {
            set "clip" asset="cheyanne/Series_Battle_Start_Series_Tone_Positive_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Birthday_SSR_001"
        append "variations" {
            set "clip" asset="cheyanne/Single_Birthday_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Chosen_Series_Tone_Positive_006"
        append "variations" {
            set "clip" asset="cheyanne/Series_Chosen_Series_Tone_Positive_006"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Chosen_Auto_Series_Tone_Positive_007"
        append "variations" {
            set "clip" asset="cheyanne/Series_Chosen_Auto_Series_Tone_Positive_007"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Daily_001"
        append "variations" {
            set "clip" asset="cheyanne/Series_Daily_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Die_Series_Tone_Negative_001"
        append "variations" {
            set "clip" asset="cheyanne/Series_Die_Series_Tone_Negative_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Dying_Series_Tone_Negative_002"
        append "variations" {
            set "clip" asset="cheyanne/Series_Dying_Series_Tone_Negative_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_003"
        append "variations" {
            set "clip" asset="cheyanne/Single_Friendliness_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_005"
        append "variations" {
            set "clip" asset="cheyanne/Single_Friendliness_005"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_007"
        append "variations" {
            set "clip" asset="cheyanne/Single_Friendliness_007"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Friendliness_008"
        append "variations" {
            set "clip" asset="cheyanne/Single_Friendliness_008"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Break"
        append "variations" {
            set "clip" asset="cheyanne/Break"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Hit_Single_Hit_001"
        append "variations" {
            set "clip" asset="cheyanne/Series_Hit_Single_Hit_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Hitted"
        append "variations" {
            set "clip" asset="cheyanne/Series_Hitted"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "End"
        append "variations" {
            set "clip" asset="cheyanne/End"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Gacha"
        append "variations" {
            set "clip" asset="cheyanne/Gacha"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Touch_Pocket"
        append "variations" {
            set "clip" asset="cheyanne/Touch_Pocket"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Upgrade"
        append "variations" {
            set "clip" asset="cheyanne/Upgrade"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Kill_Single_Kill_001"
        append "variations" {
            set "clip" asset="cheyanne/Series_Kill_Single_Kill_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Login_001"
        append "variations" {
            set "clip" asset="cheyanne/Single_Login_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Lose_Single_Lose_001"
        append "variations" {
            set "clip" asset="cheyanne/Series_Lose_Single_Lose_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_MidAutumn_001"
        append "variations" {
            set "clip" asset="cheyanne/Single_MidAutumn_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_0101"
        append "variations" {
            set "clip" asset="cheyanne/Bedroom_0101"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_0201"
        append "variations" {
            set "clip" asset="cheyanne/Bedroom_0201"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_0301"
        append "variations" {
            set "clip" asset="cheyanne/Bedroom_0301"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Bedroom_05_Idle"
        append "variations" {
            set "clip" asset="cheyanne/Bedroom_05_Idle"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Touch_Gun"
        append "variations" {
            set "clip" asset="cheyanne/Touch_Gun"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Behave_InspectExclusive"
        append "variations" {
            set "clip" asset="cheyanne/Behave_InspectExclusive"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Behave_Stretch"
        append "variations" {
            set "clip" asset="cheyanne/Behave_Stretch"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_NewYear_001"
        append "variations" {
            set "clip" asset="cheyanne/Single_NewYear_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Obtain_SSR_001"
        append "variations" {
            set "clip" asset="cheyanne/Single_Obtain_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Single_Passive_SSR_001"
        append "variations" {
            set "clip" asset="cheyanne/Single_Passive_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Set_Click_Series_Tone_Positive_004"
        append "variations" {
            set "clip" asset="cheyanne/Series_Set_Click_Series_Tone_Positive_004"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Set_Fall_Series_Tone_Positive_005"
        append "variations" {
            set "clip" asset="cheyanne/Series_Set_Fall_Series_Tone_Positive_005"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Shield_Broken_Series_Tone_Negative_003"
        append "variations" {
            set "clip" asset="cheyanne/Series_Shield_Broken_Series_Tone_Negative_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Skill01_Single_Skill_001"
        append "variations" {
            set "clip" asset="cheyanne/Series_Skill01_Single_Skill_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Skill02_Single_Skill_002"
        append "variations" {
            set "clip" asset="cheyanne/Series_Skill02_Single_Skill_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Tone_Positive_001"
        append "variations" {
            set "clip" asset="cheyanne/Series_Tone_Positive_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Ultimate_Single_Ultimate_SSR_001"
        append "variations" {
            set "clip" asset="cheyanne/Series_Ultimate_Single_Ultimate_SSR_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_001"
        append "variations" {
            set "clip" asset="cheyanne/Series_Up_001"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_002"
        append "variations" {
            set "clip" asset="cheyanne/Series_Up_002"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_003"
        append "variations" {
            set "clip" asset="cheyanne/Series_Up_003"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_004"
        append "variations" {
            set "clip" asset="cheyanne/Series_Up_004"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Up_005"
        append "variations" {
            set "clip" asset="cheyanne/Series_Up_005"
        }
    }
    append "busIndices" 0
    append "sounds" {
        set "name" "Series_Win_Single_Win_001"
        append "variations" {
            set "clip" asset="cheyanne/Series_Win_Single_Win_001"
        }
    }
    append "busIndices" 0
}
