clone "ConversationTemplate" from="Carda_Early/click_bark" id="Lewis/click_bark" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_lewis"
        }
    }
    set "Priority" 100
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="ACTION" {
            set "m_SerAction" type="SetFlag" {
                set "FlagName" "click_bark_lewis"
                set "FlagValue" #true
            }
        }
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lewis_va"
                        set "itemId" "Series_Set_Click_Series_Tone_Positive_004"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "I got this!"
                }
            }
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lewis_va"
                        set "itemId" "Series_Chosen_Auto_Series_Tone_Positive_007"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Me?"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/click_hurt" id="Lewis/click_hurt" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_lewis"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lewis_va"
                        set "itemId" "Series_Chosen_Series_Tone_Positive_006"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "They're here."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/idle_bark_combat" id="Lewis/idle_bark_combat" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_lewis"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_lewis_va"
                        set "itemId" "Single_Passive_SSR_001"
                    }
                    set "RoleGuid" "SL"
                    set "Text" "Toy time!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
