clone "SoundBank" from="weapons_soundbank" id="wmgfl_voymastina_mech_sfx" {
    clear "sounds"
    clear "busIndices"

    append "sounds" {
        set "name" "Run_Start"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Run_Start"
        }
    }

    append "sounds" {
        set "name" "Run_End"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Run_End"
        }
    }

    append "sounds" {
        set "name" "Hover_Loop"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Hover_Loop"
        }
    }

    append "sounds" {
        set "name" "Walk_Start"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Walk_Start"
        }
    }

    append "sounds" {
        set "name" "Walk_End"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Walk_End"
        }
    }

    append "sounds" {
        set "name" "Turn180"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Turn180"
        }
    }

    append "sounds" {
        set "name" "Spicel_Idle"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Spicel_Idle"
        }
    }

    append "sounds" {
        set "name" "Born"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Born"
        }
    }

    append "sounds" {
        set "name" "Die"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Die"
        }
    }

    append "sounds" {
        set "name" "Diefly"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Diefly"
        }
    }

    append "sounds" {
        set "name" "Climb"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Climb"
        }
    }

    append "sounds" {
        set "name" "ClimbDown"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/ClimbDown"
        }
    }

    append "sounds" {
        set "name" "Skill01"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Skill01"
        }
    }

    append "sounds" {
        set "name" "Skill01_Satk"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Skill01_Satk"
        }
    }

    append "sounds" {
        set "name" "Skill02_Cast"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Skill02_Cast"
        }
    }

    append "sounds" {
        set "name" "Skill02_Atk"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Skill02_Atk"
        }
    }

    append "sounds" {
        set "name" "Skill02_Atk_Explor"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Skill02_Atk_Explor"
        }
    }

    append "sounds" {
        set "name" "Skill02_Atk_Falldown"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/Skill02_Atk_Falldown"
        }
    }

    append "sounds" {
        set "name" "UltraSkill"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/UltraSkill"
        }
    }

    append "sounds" {
        set "name" "UltraSkill_Cast"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/UltraSkill_Cast"
        }
    }

    append "sounds" {
        set "name" "UltraSkill_Satk"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/UltraSkill_Satk"
        }
    }

    append "sounds" {
        set "name" "UltraSkill_Skip"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="voymastina_mech/UltraSkill_Skip"
        }
    }
}
