clone "ConversationTemplate" from="JeanSy/response_kill" id="Vector/response_kill" {
    set "Active" #true
    set "Roles" index=2 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_vector"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_vector_va"
                        set "itemId" "Series_Kill_Single_Kill_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "It’s over."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/response_taking_fire_anyone" id="Vector/response_taking_fire_anyone" {
    set "Active" #true
    set "Roles" index=2 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_vector"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_vector_va"
                        set "itemId" "Single_Passive_SSR_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "That's enough already."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
