clone "SoundBank" from="tactical_barks_jeansy_va" id="wmgfl_tactical_barks_vector_va" {
    clear "sounds"
    clear "busIndices"
    append "sounds" {
        set "name" "BarrackEntrance_Normal"
        append "variations" {
            set "clip" asset="vector/BarrackEntrance_Normal"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0101"
        append "variations" {
            set "clip" asset="vector/Bedroom_0101"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0201"
        append "variations" {
            set "clip" asset="vector/Bedroom_0201"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0301"
        append "variations" {
            set "clip" asset="vector/Bedroom_0301"
        }
    }
    append "sounds" {
        set "name" "Bedroom_03_Idle"
        append "variations" {
            set "clip" asset="vector/Bedroom_03_Idle"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0401"
        append "variations" {
            set "clip" asset="vector/Bedroom_0401"
        }
    }
    append "sounds" {
        set "name" "Bedroom_0501"
        append "variations" {
            set "clip" asset="vector/Bedroom_0501"
        }
    }
    append "sounds" {
        set "name" "Behave_InspectExclusive"
        append "variations" {
            set "clip" asset="vector/Behave_InspectExclusive"
        }
    }
    append "sounds" {
        set "name" "Behave_Stretch"
        append "variations" {
            set "clip" asset="vector/Behave_Stretch"
        }
    }
    append "sounds" {
        set "name" "Break"
        append "variations" {
            set "clip" asset="vector/Break"
        }
    }
    append "sounds" {
        set "name" "Camera_Aroud"
        append "variations" {
            set "clip" asset="vector/Camera_Aroud"
        }
    }
    append "sounds" {
        set "name" "Camera_Look"
        append "variations" {
            set "clip" asset="vector/Camera_Look"
        }
    }
    append "sounds" {
        set "name" "End"
        append "variations" {
            set "clip" asset="vector/End"
        }
    }
    append "sounds" {
        set "name" "Gacha"
        append "variations" {
            set "clip" asset="vector/Gacha"
        }
    }
    append "sounds" {
        set "name" "Series_Battle_Start_Series_Up_007"
        append "variations" {
            set "clip" asset="vector/Series_Battle_Start_Series_Up_007"
        }
    }
    append "sounds" {
        set "name" "Series_Cancel_Series_Tone_Positive_009"
        append "variations" {
            set "clip" asset="vector/Series_Cancel_Series_Tone_Positive_009"
        }
    }
    append "sounds" {
        set "name" "Series_Chosen_Auto_Series_Hit_Series_Tone_Positive_005"
        append "variations" {
            set "clip" asset="vector/Series_Chosen_Auto_Series_Hit_Series_Tone_Positive_005"
        }
    }
    append "sounds" {
        set "name" "Series_Chosen_Auto_Series_Tone_Positive_005"
        append "variations" {
            set "clip" asset="vector/Series_Chosen_Auto_Series_Tone_Positive_005"
        }
    }
    append "sounds" {
        set "name" "Series_Chosen_Series_Tone_Positive_003"
        append "variations" {
            set "clip" asset="vector/Series_Chosen_Series_Tone_Positive_003"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_001"
        append "variations" {
            set "clip" asset="vector/Series_Daily_001"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_002"
        append "variations" {
            set "clip" asset="vector/Series_Daily_002"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_003"
        append "variations" {
            set "clip" asset="vector/Series_Daily_003"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_004"
        append "variations" {
            set "clip" asset="vector/Series_Daily_004"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_005"
        append "variations" {
            set "clip" asset="vector/Series_Daily_005"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_006"
        append "variations" {
            set "clip" asset="vector/Series_Daily_006"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_007"
        append "variations" {
            set "clip" asset="vector/Series_Daily_007"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_008"
        append "variations" {
            set "clip" asset="vector/Series_Daily_008"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_009"
        append "variations" {
            set "clip" asset="vector/Series_Daily_009"
        }
    }
    append "sounds" {
        set "name" "Series_Daily_010"
        append "variations" {
            set "clip" asset="vector/Series_Daily_010"
        }
    }
    append "sounds" {
        set "name" "Series_Die_Series_Tone_Negative_002"
        append "variations" {
            set "clip" asset="vector/Series_Die_Series_Tone_Negative_002"
        }
    }
    append "sounds" {
        set "name" "Series_Hit_Series_Tone_Positive_006"
        append "variations" {
            set "clip" asset="vector/Series_Hit_Series_Tone_Positive_006"
        }
    }
    append "sounds" {
        set "name" "Series_Hit_Series_Tone_Positive_008"
        append "variations" {
            set "clip" asset="vector/Series_Hit_Series_Tone_Positive_008"
        }
    }
    append "sounds" {
        set "name" "Series_Hit_Single_Hit_001"
        append "variations" {
            set "clip" asset="vector/Series_Hit_Single_Hit_001"
        }
    }
    append "sounds" {
        set "name" "Series_Hitted_Series_HittedLast_Series_Shield_Broken"
        append "variations" {
            set "clip" asset="vector/Series_Hitted_Series_HittedLast_Series_Shield_Broken"
        }
    }
    append "sounds" {
        set "name" "Series_Kill_Single_Kill_001"
        append "variations" {
            set "clip" asset="vector/Series_Kill_Single_Kill_001"
        }
    }
    append "sounds" {
        set "name" "Series_Lose_Single_Lose_001"
        append "variations" {
            set "clip" asset="vector/Series_Lose_Single_Lose_001"
        }
    }
    append "sounds" {
        set "name" "Series_Set_Click_Series_Up_004"
        append "variations" {
            set "clip" asset="vector/Series_Set_Click_Series_Up_004"
        }
    }
    append "sounds" {
        set "name" "Series_Set_Fall_Series_Up_008"
        append "variations" {
            set "clip" asset="vector/Series_Set_Fall_Series_Up_008"
        }
    }
    append "sounds" {
        set "name" "Series_Skill01_Single_Skill_001"
        append "variations" {
            set "clip" asset="vector/Series_Skill01_Single_Skill_001"
        }
    }
    append "sounds" {
        set "name" "Series_Skill02_Single_Skill_002"
        append "variations" {
            set "clip" asset="vector/Series_Skill02_Single_Skill_002"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Negative_001"
        append "variations" {
            set "clip" asset="vector/Series_Tone_Negative_001"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_001"
        append "variations" {
            set "clip" asset="vector/Series_Tone_Positive_001"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_002"
        append "variations" {
            set "clip" asset="vector/Series_Tone_Positive_002"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_004"
        append "variations" {
            set "clip" asset="vector/Series_Tone_Positive_004"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_006"
        append "variations" {
            set "clip" asset="vector/Series_Tone_Positive_006"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_007"
        append "variations" {
            set "clip" asset="vector/Series_Tone_Positive_007"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_008"
        append "variations" {
            set "clip" asset="vector/Series_Tone_Positive_008"
        }
    }
    append "sounds" {
        set "name" "Series_Tone_Positive_010"
        append "variations" {
            set "clip" asset="vector/Series_Tone_Positive_010"
        }
    }
    append "sounds" {
        set "name" "Series_Ultimate_Single_Ultimate_SSR_001"
        append "variations" {
            set "clip" asset="vector/Series_Ultimate_Single_Ultimate_SSR_001"
        }
    }
    append "sounds" {
        set "name" "Series_Up_001"
        append "variations" {
            set "clip" asset="vector/Series_Up_001"
        }
    }
    append "sounds" {
        set "name" "Series_Up_002"
        append "variations" {
            set "clip" asset="vector/Series_Up_002"
        }
    }
    append "sounds" {
        set "name" "Series_Up_003"
        append "variations" {
            set "clip" asset="vector/Series_Up_003"
        }
    }
    append "sounds" {
        set "name" "Series_Up_005"
        append "variations" {
            set "clip" asset="vector/Series_Up_005"
        }
    }
    append "sounds" {
        set "name" "Series_Up_006"
        append "variations" {
            set "clip" asset="vector/Series_Up_006"
        }
    }
    append "sounds" {
        set "name" "Series_Win_Single_Win_001"
        append "variations" {
            set "clip" asset="vector/Series_Win_Single_Win_001"
        }
    }
    append "sounds" {
        set "name" "Single_Acquire_R_001"
        append "variations" {
            set "clip" asset="vector/Single_Acquire_R_001"
        }
    }
    append "sounds" {
        set "name" "Single_Acquire_SSR_001"
        append "variations" {
            set "clip" asset="vector/Single_Acquire_SSR_001"
        }
    }
    append "sounds" {
        set "name" "Single_Anniversary_001"
        append "variations" {
            set "clip" asset="vector/Single_Anniversary_001"
        }
    }
    append "sounds" {
        set "name" "Single_Birthday_R_001"
        append "variations" {
            set "clip" asset="vector/Single_Birthday_R_001"
        }
    }
    append "sounds" {
        set "name" "Single_Birthday_SSR_001"
        append "variations" {
            set "clip" asset="vector/Single_Birthday_SSR_001"
        }
    }
    append "sounds" {
        set "name" "Single_Birthday_SSR_002"
        append "variations" {
            set "clip" asset="vector/Single_Birthday_SSR_002"
        }
    }
    append "sounds" {
        set "name" "Single_Children_001"
        append "variations" {
            set "clip" asset="vector/Single_Children_001"
        }
    }
    append "sounds" {
        set "name" "Single_Christmas_001"
        append "variations" {
            set "clip" asset="vector/Single_Christmas_001"
        }
    }
    append "sounds" {
        set "name" "Single_Christmas_002"
        append "variations" {
            set "clip" asset="vector/Single_Christmas_002"
        }
    }
    append "sounds" {
        set "name" "Single_Duanwu_001"
        append "variations" {
            set "clip" asset="vector/Single_Duanwu_001"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_001"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_001"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_002"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_002"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_003"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_003"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_004"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_004"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_005"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_005"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_006"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_006"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_007"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_007"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_008"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_008"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_009"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_009"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_010"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_010"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_011"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_011"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_012"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_012"
        }
    }
    append "sounds" {
        set "name" "Single_Friendliness_013"
        append "variations" {
            set "clip" asset="vector/Single_Friendliness_013"
        }
    }
    append "sounds" {
        set "name" "Single_Login_001"
        append "variations" {
            set "clip" asset="vector/Single_Login_001"
        }
    }
    append "sounds" {
        set "name" "Single_MidAutumn_001"
        append "variations" {
            set "clip" asset="vector/Single_MidAutumn_001"
        }
    }
    append "sounds" {
        set "name" "Single_MidAutumn_002"
        append "variations" {
            set "clip" asset="vector/Single_MidAutumn_002"
        }
    }
    append "sounds" {
        set "name" "Single_NewYear_001"
        append "variations" {
            set "clip" asset="vector/Single_NewYear_001"
        }
    }
    append "sounds" {
        set "name" "Single_NewYear_002"
        append "variations" {
            set "clip" asset="vector/Single_NewYear_002"
        }
    }
    append "sounds" {
        set "name" "Single_Obon_001"
        append "variations" {
            set "clip" asset="vector/Single_Obon_001"
        }
    }
    append "sounds" {
        set "name" "Single_Obtain_SSR_001"
        append "variations" {
            set "clip" asset="vector/Single_Obtain_SSR_001"
        }
    }
    append "sounds" {
        set "name" "Single_Passive_SSR_001"
        append "variations" {
            set "clip" asset="vector/Single_Passive_SSR_001"
        }
    }
    append "sounds" {
        set "name" "Single_SpringFes_001"
        append "variations" {
            set "clip" asset="vector/Single_SpringFes_001"
        }
    }
    append "sounds" {
        set "name" "Single_SpringFes_002"
        append "variations" {
            set "clip" asset="vector/Single_SpringFes_002"
        }
    }
    append "sounds" {
        set "name" "Single_ThanksGiving_001"
        append "variations" {
            set "clip" asset="vector/Single_ThanksGiving_001"
        }
    }
    append "sounds" {
        set "name" "Single_Title_001"
        append "variations" {
            set "clip" asset="vector/Single_Title_001"
        }
    }
    append "sounds" {
        set "name" "Single_Valentine_001"
        append "variations" {
            set "clip" asset="vector/Single_Valentine_001"
        }
    }
    append "sounds" {
        set "name" "Single_Valentine_002"
        append "variations" {
            set "clip" asset="vector/Single_Valentine_002"
        }
    }
    append "sounds" {
        set "name" "Single_WhiteVale_001"
        append "variations" {
            set "clip" asset="vector/Single_WhiteVale_001"
        }
    }
    append "sounds" {
        set "name" "Touch_Gun"
        append "variations" {
            set "clip" asset="vector/Touch_Gun"
        }
    }
    append "sounds" {
        set "name" "Touch_Head"
        append "variations" {
            set "clip" asset="vector/Touch_Head"
        }
    }
    append "sounds" {
        set "name" "Touch_Pocket"
        append "variations" {
            set "clip" asset="vector/Touch_Pocket"
        }
    }
    append "sounds" {
        set "name" "Upgrade"
        append "variations" {
            set "clip" asset="vector/Upgrade"
        }
    }
}
