clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.mechty" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.call_out_target"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.fortify"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.resourceful"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.mobile_infantry"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.take_aim"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.mechty_sleep_aid_kit"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.sharpshooter"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.minimize_silhouette"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.wmgfl_focus_fire"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.mechty_overcharged"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.impossible_shot"
        set "Tier" 4
    }
}
