clone "WeaponTemplate" from="weapon.generic_assault_rifle_tier1_kpac" id="weapon.mechty" {
    append "Tags" "jy_no_sell"
    append "Tags" "wmgfl_class_ar"
    set "Title" {
        set "m_DefaultTranslation" "G11"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Assault Rifle"
    }
    set "Description" {
        set "m_DefaultTranslation" "A firearm highly compatible with Mechty. Modified based on her combat preferences, it has improved rate of fire, precision and accuracy."
    }

    set "Model" asset="weapon/mechty/main"
    set "Icon" asset="weapon/mechty/Icon"
    set "IconEquipment" asset="weapon/mechty/IconEquipment"
    set "IconEquipmentDisabled" asset="weapon/mechty/IconEquipmentDisabled"
    set "IconSkillBar" asset="weapon/mechty/IconSkillBar"
    set "IconSkillBarDisabled" asset="weapon/mechty/IconSkillBarDisabled"

    set "AccuracyBonus" 5.0
    set "AccuracyDropoff" -5.0
    set "ArmorPenetration" 24.0
    set "ArmorPenetrationDropoff" -2.1

    set "Damage" 7.0
    set "DamageDropoff" -0.95
    set "DamageToArmorDurability" 7.0
    set "DamageToArmorDurabilityDropoff" -0.75

    set "MaxRange" 7
    set "IdealRange" 3
    set "Suppression" 3.0

    set "DeployCosts" {
        set "m_Supplies" 13
    }

    set "BlackMarketMaxQuantity" 0

    set "SkillsGranted" index=0 "active.fire_mechty"
    set "SkillsGranted" index=1 "active.fire_mechty_sustained"
}

clone "SkillTemplate" from="active.fire_assault_rifle_tier1_556" id="active.fire_mechty" {
    set "Repetitions" 6
    set "Uses" 20
    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_ar_addition_bank"
        set "itemId" "ar_burst"
    }
    append "SoundsOnAttack" {
        set "bankId" "weapons_soundbank"
        set "itemId" "small_caliber_brass_burst"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_ar_addition_bank"
        set "itemId" "ar_burst_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_ar_addition_bank"
        set "itemId" "ar_burst_distant"
    }
}

clone "SkillTemplate" from="active.fire_assault_rifle_sustained_fire_tier1_556" id="active.fire_mechty_sustained" {
    set "Uses" 20
    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_ar_addition_bank"
        set "itemId" "ar_single"
    }
    append "SoundsOnAttack" {
        set "bankId" "weapons_soundbank"
        set "itemId" "small_caliber_brass_burst"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_ar_addition_bank"
        set "itemId" "ar_single_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_ar_addition_bank"
        set "itemId" "ar_single_distant"
    }
}
