clone "ConversationTemplate" from="Carda_Early/enemy_damage_blocked" id="Alva/enemy_damage_blocked_alva" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_alva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Tone_Negative_003"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "It's not over yet!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/enemy_damaged" id="Alva/enemy_damaged_alva" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_alva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Tone_Positive_003"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Striking target."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Hit_Single_Hit_001"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "Executing."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/enemy_killed" id="Alva/enemy_killed_alva" {
    set "Active" #true
    set "Roles" index=1 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_alva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Kill_Single_Kill_001"
                    }
                    set "RoleGuid" "Killer"
                    set "Text" "Target silenced."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Tone_Positive_005"
                    }
                    set "RoleGuid" "Killer"
                    set "Text" "Perfectly executed."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
