clone "ConversationTemplate" from="Carda_Early/morale_recovery" id="Alva/morale_recovery_alva" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_alva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Up_004"
                    }
                    set "RoleGuid" "Recovered"
                    set "Text" "I'm the squad leader, this is essential."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/morale_wavering" id="Alva/morale_wavering_alva" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_alva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Tone_Negative_002"
                    }
                    set "RoleGuid" "Wavering"
                    set "Text" "I can hold on!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/squaddie_death_bleed" id="Alva/squaddie_death_bleed_alva" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_alva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Tone_Negative_001"
                    }
                    set "RoleGuid" "Victim"
                    set "Text" "Urgh..."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
