clone "ConversationTemplate" from="Carda_Early/objective_first" id="Alva/objective_first_alva" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_alva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Tone_Positive_005"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Perfectly executed."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/objective_second" id="Alva/objective_second_alva" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_alva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Tone_Positive_007"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Mission accepted."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/objective_third" id="Alva/objective_third_alva" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_alva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_alva_va"
                        set "itemId" "Series_Win_Single_Win_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Mission complete, AO is cleared. All threats have been eliminated. Commander, we may proceed."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
