clone "PerkTemplate" from="perk.taking_command" id="perk.robella_taking_command" {
    clear "SoundsOnUse"
    append "SoundsOnUse" {
        set "bankId" "wmgfl_tactical_barks_robella_va"
        set "itemId" "Series_Ultimate_Single_Ultimate_SSR_001"
    }
}
