clone "ConversationTemplate" from="JeanSy/morale_recovery" id="Soppo/morale_recovery" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_soppo"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_soppo_va"
                        set "itemId" "Series_Up_002"
                    }
                    set "RoleGuid" "Recovered"
                    set "Text" "(Pbbbbt!)"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/morale_wavering" id="Soppo/morale_wavering" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_soppo"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_soppo_va"
                        set "itemId" "Series_Lose_Single_Lose_001"
                    }
                    set "RoleGuid" "Wavering"
                    set "Text" "No time—no time! Commander, can we hurry up?"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/squaddie_death_bleed" id="Soppo/squaddie_death_bleed" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_soppo"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_soppo_va"
                        set "itemId" "Series_Dying_Series_Tone_Negative_002"
                    }
                    set "RoleGuid" "Victim"
                    set "Text" "We’re not done yet."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
