clone "ConversationTemplate" from="Carda_Early/response_taking_fire_anyone" id="Cheyanne/response_taking_fire_anyone" {
    set "Active" #true
    set "Roles" index=2 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_cheyanne"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_cheyanne_va"
                        set "itemId" "Series_Skill02_Single_Skill_002"
                    }
                    set "RoleGuid" "SL"
                    set "Text" "Stay calm."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
