clone "ConversationTemplate" from="JeanSy/moving_finished" id="Asteria/moving_finished" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_asteria"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_asteria_va"
                        set "itemId" "Series_Set_Fall_Series_Tone_Positive_005"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "I won’t let you down."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/taking_fire" id="Asteria/taking_fire" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_asteria"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_asteria_va"
                        set "itemId" "Series_Hitted_Series_HittedLast"
                    }
                    set "RoleGuid" "Damaged"
                    set "Text" "(Nngh!)"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
