clone "ConversationTemplate" from="JeanSy/objective_first" id="Asteria/objective_first" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_asteria"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_asteria_va"
                        set "itemId" "Series_Up_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Just as I expected."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/objective_second" id="Asteria/objective_second" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_asteria"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_asteria_va"
                        set "itemId" "Series_Up_004"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Haven’t felt this in a while."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/objective_third" id="Asteria/objective_third" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_asteria"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_asteria_va"
                        set "itemId" "Series_Up_005"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Do I make you feel safe now?"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/success_any_jeansy" id="Asteria/success_any_asteria" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_asteria"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_asteria_va"
                        set "itemId" "Series_Win_Single_Win_001"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "Only I am allowed to stand by the Commander."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
