clone "ConversationTemplate" from="JeanSy/missed_cover" id="Leva/missed_cover" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_leva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_leva_va"
                        set "itemId" "Series_Attack_Series_Tone_Positive_003"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "There there, bear with it."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/missed_open" id="Leva/missed_open" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_leva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="ACTION" {
            set "m_SerAction" type="SetFlag" {
                set "FlagName" "leva_missed_played"
                set "FlagValue" #true
            }
        }
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_leva_va"
                        set "itemId" "Series_Attack_Series_Tone_Positive_003"
                    }
                    set "RoleGuid" "Attacker"
                    set "Text" "There there, bear with it."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/moving_finished" id="Leva/moving_finished" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_leva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_leva_va"
                        set "itemId" "Series_Tone_Positive_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "I'm here."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/taking_fire" id="Leva/taking_fire" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_leva"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_leva_va"
                        set "itemId" "Series_Shield_Broken_Series_Tone_Negative_003"
                    }
                    set "RoleGuid" "Damaged"
                    set "Text" "This is kind of bad..."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
