clone "WeaponTemplate" from="specialweapon.light_machinegun_tier1_m10E" id="weapon.lewis" {
    append "Tags" "jy_no_sell"
    set "Title" {
        set "m_DefaultTranslation" "Lewis Machine Gun"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Light Machinegun"
    }
    set "Description" {
        set "m_DefaultTranslation" "A firearm highly compatible with Lewis. Modified based on her combat preferences. Its brand new cooling system has solved the problem of overheating during extended periods of firing."
    }

    set "Model" asset="weapon/lewis/main"
    set "VisualAlterationSlot" enum="VisualAlterationSlot" "Hand_R"
    set "ModelSecondary" #null
    set "VisualAlterationSlotSecondary" enum="VisualAlterationSlot" "EntireModel"

    set "SlotType" enum="ItemSlot" "InfantryWeapon"

    set "SkillsGranted" index=0 "active.fire_lewis_direct"
    append "SkillsGranted" "active.fire_lewis"

    set "Icon" asset="weapon/lewis/Icon"
    set "IconEquipment" asset="weapon/lewis/IconEquipment"
    set "IconEquipmentDisabled" asset="weapon/lewis/IconEquipmentDisabled"
    set "IconSkillBar" asset="weapon/lewis/IconSkillBar"
    set "IconSkillBarDisabled" asset="weapon/lewis/IconSkillBarDisabled"

    set "AccuracyBonus" -10.0
    set "AccuracyDropoff" -8.0
    set "ArmorPenetration" 36.0
    set "ArmorPenetrationDropoff" -1.33

    set "Damage" 11.0
    set "DamageDropoff" -0.76
    set "DamageToArmorDurability" 14.0
    set "DamageToArmorDurabilityDropoff" -0.48

    set "MaxRange" 10
    set "IdealRange" 7
    set "Suppression" 9.0

    set "DeployCosts" {
        set "m_Supplies" 13
    }

    set "BlackMarketMaxQuantity" 0
}

clone "SkillTemplate" from="active.light_mg_suppressive_fire" id="active.fire_lewis" {
    clear "SoundsOnAttackPerElement"
    append "SoundsOnAttackPerElement" {
        set "bankId" "wmgfl_weapons_mg_addition_bank"
        set "itemId" "mg_burst"
    }
    append "SoundsOnAttackPerElement" {
        set "bankId" "wmgfl_weapons_mg_addition_bank"
        set "itemId" "mg_burst_distant"
    }
    clear "SoundsOnAttackPerElementFar"
    append "SoundsOnAttackPerElementFar" {
        set "bankId" "wmgfl_weapons_mg_addition_bank"
        set "itemId" "mg_burst_distant"
    }
    set "Uses" 12
    set "ExecutingElement" enum="ExecutingElementType" "OneAtRandomExceptSpecial"
    append "EventHandlers" type="SynchronizeItemUses" {}
}

clone "SkillTemplate" from="active.fire_assault_rifle_sustained_fire_tier1_762" id="active.fire_lewis_direct" {
    set "ActionPointCost" 80
    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_mg_addition_bank"
        set "itemId" "mg_burst"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_mg_addition_bank"
        set "itemId" "mg_burst_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_mg_addition_bank"
        set "itemId" "mg_burst_distant"
    }
    set "EventHandlers" index=0 {
        set "AccuracyMult" 1.0
        set "DamageMult" 1.0
        set "SuppressionDealtMult" 1.2
    }
    set "Uses" 12
    set "Repetitions" 8
    set "IsDeploymentRequired" #true
}
