clone "ConversationTemplate" from="Carda_Early/click_bark" id="Robella/click_bark_robella" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_robella"
        }
    }
    set "Priority" 100
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="ACTION" {
            set "m_SerAction" type="SetFlag" {
                set "FlagName" "click_bark_robella"
                set "FlagValue" #true
            }
        }
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_robella_va"
                        set "itemId" "Series_Set_Click_Series_Tone_Positive_004"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Standing by."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_robella_va"
                        set "itemId" "Series_Chosen_Series_Tone_Positive_006"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Awaiting your orders."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/click_hurt" id="Robella/click_hurt_robella" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_robella"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_robella_va"
                        set "itemId" "Series_Chosen_Series_Tone_Positive_006"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Awaiting your orders."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/idle_bark_combat" id="Robella/idle_bark_combat_robella" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_robella"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_robella_va"
                        set "itemId" "Series_Tone_Positive_001"
                    }
                    set "RoleGuid" "SL"
                    set "Text" "Combat ready."
                }
            }
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_robella_va"
                        set "itemId" "Series_Set_Fall_Series_Tone_Positive_005"
                    }
                    set "RoleGuid" "SL"
                    set "Text" "I won't let you down."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
