clone "ConversationTemplate" from="JeanSy/morale_recovery" id="Klukai/morale_recovery" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_klukai"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_klukai_va"
                        set "itemId" "Series_Up_002"
                    }
                    set "RoleGuid" "Recovered"
                    set "Text" "Not bad."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/morale_wavering" id="Klukai/morale_wavering" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_klukai"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_klukai_va"
                        set "itemId" "Series_Lose_Single_Lose_001"
                    }
                    set "RoleGuid" "Wavering"
                    set "Text" "Fall back for now... I misjudged."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/squaddie_death_bleed" id="Klukai/squaddie_death_bleed" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_klukai"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_klukai_va"
                        set "itemId" "Series_Shield_Broken_Series_Tone_Negative_002"
                    }
                    set "RoleGuid" "Victim"
                    set "Text" "Tch."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
