clone "ConversationTemplate" from="JeanSy/moving_finished" id="Klukai/moving_finished" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_klukai"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_klukai_va"
                        set "itemId" "Series_Tone_Positive_003"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Keep going."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/taking_fire" id="Klukai/taking_fire" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=1 type="HasOneTag" {
            set "Tags" "wmgfl_klukai"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_klukai_va"
                        set "itemId" "Series_Hitted_Series_HittedLast"
                    }
                    set "RoleGuid" "Damaged"
                    set "Text" "Hey!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
