clone "PerkTreeTemplate" from="perk_tree.rewa_vehicle" id="perk_tree.voymastina_mech" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.expert_pilot_vehicle"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.lancer"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.sharpshooter"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.voymastina_arc_rounds"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.tankbuster"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.dash_walker"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.wmgfl_drive_by"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.to_shreds_vehicle"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.voymastina_breach_guard"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.fury"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.shieldwall"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.unbreakable_vehicle"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.full_send"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.spartan_duty"
        set "Tier" 4
    }
}
