clone "PerkTreeTemplate" from="perk_tree.rewa_vehicle" id="perk_tree.voymastina_mech" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.expert_pilot_vehicle"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.lancer"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.tankbuster"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.roadkill"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.zig_zag"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.dash_walker"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.to_shreds_vehicle"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.drive_by"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.fury"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.vanguard"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.shieldwall"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.full_send"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.spartan_duty"
        set "Tier" 4
    }
}
