clone "TagTemplate" from="unique" id="wmgfl_voymastina_mech"

clone "ModularVehicleTemplate" from="modular_vehicle_medium_walker" id="modular_vehicle.voymastina_mech" {
    clear "Slots"
}

clone "EntityTemplate" from="player_vehicle.generic_heavy_attack_walker" id="player_vehicle.voymastina_mech" {
    set "Title" {
        set "m_DefaultTranslation" "Sinbreaker (White Mastiff's Fang)"
    }
    set "Description" {
        set "m_DefaultTranslation" "Voymastina's usual outfit. Its simple desgin has nothing in the way of personalization or decoration. It shows its true worth in battle, where it is like a sharp fang."
    }

    set "Prefabs" index=0 asset="voymastina_mech/default/main"
    set "AnimatorTemplate" "animator.voymastina_mech"
    set "AnimationSoundTemplate" "construct_soldier_animation_sounds"
    set "MovementType" "movement_type.construct_soldier_t1"
    set "AimWithVisualSlot" enum="VisualAlterationSlot" "EntireModel"
    set "ModularVehicle" "modular_vehicle.voymastina_mech"

    set "Properties" {
        set "AdditionalMovementCost" -12
        set "Vision" 9
        set "Damage" 30.0
        set "SoundOnMovementStart" {
            set "bankId" "wmgfl_voymastina_mech_sfx"
            set "itemId" "Run_Start"
        }
        set "SoundOnMovementStop" {
            set "bankId" "wmgfl_voymastina_mech_sfx"
            set "itemId" "Run_End"
        }
        set "SoundOnMovementStep" {
            set "bankId" "wmgfl_voymastina_mech_sfx"
            set "itemId" "Hover_Loop"
        }
        set "SoundOnDeath" {
            set "bankId" "wmgfl_voymastina_mech_sfx"
            set "itemId" "Die"
        }
    }

    append "Tags" "jy_vehicle_restricted"
    append "Tags" "wmgfl_voymastina_mech"

    clear "AttachedPrefabs"
    clear "Items"

    clear "Skills"
    append "Skills" "active.voymastina_mech_gun"
    append "Skills" "active.voymastina_mech_rocket"
    append "Skills" "active.voymastina_mech_drill"

    set "Badge" asset="voymastina/badge_mini"
    set "BadgeWhite" asset="voymastina/badge_mini"
}

clone "EntityTemplate" from="player_vehicle.generic_heavy_attack_walker" id="player_vehicle.voymastina_mech_erwin" {
    set "Title" {
        set "m_DefaultTranslation" "Sinbreaker (Erwin)"
    }
    set "Description" {
        set "m_DefaultTranslation" """
            "I'm sorry I can't blend in like a normal agent... But I can ensure your safety."
            She stands by your side, her keen gaze sweeping over everyone who could possibly be suspicious.
            """
    }

    set "Prefabs" index=0 asset="voymastina_mech/erwin/main"
    set "AnimatorTemplate" "animator.voymastina_mech"
    set "AnimationSoundTemplate" "construct_soldier_animation_sounds"
    set "MovementType" "movement_type.construct_soldier_t1"
    set "AimWithVisualSlot" enum="VisualAlterationSlot" "EntireModel"
    set "ModularVehicle" "modular_vehicle.voymastina_mech"

    set "Properties" {
        set "AdditionalMovementCost" -13
        set "Damage" 30.0
        set "SoundOnMovementStart" {
            set "bankId" "wmgfl_voymastina_mech_sfx"
            set "itemId" "Run_Start"
        }
        set "SoundOnMovementStop" {
            set "bankId" "wmgfl_voymastina_mech_sfx"
            set "itemId" "Run_End"
        }
        set "SoundOnMovementStep" {
            set "bankId" "wmgfl_voymastina_mech_sfx"
            set "itemId" "Hover_Loop"
        }
        set "SoundOnDeath" {
            set "bankId" "wmgfl_voymastina_mech_sfx"
            set "itemId" "Die"
        }
    }

    append "Tags" "jy_vehicle_restricted"
    append "Tags" "wmgfl_voymastina_mech"

    clear "AttachedPrefabs"
    clear "Items"

    clear "Skills"
    append "Skills" "active.voymastina_mech_gun"
    append "Skills" "active.voymastina_mech_rocket"
    append "Skills" "active.voymastina_mech_drill"

    set "Badge" asset="voymastina/badge_mini"
    set "BadgeWhite" asset="voymastina/badge_mini"
}

clone "VehicleItemTemplate" from="vehicle.chassis_walker_medium" id="vehicle.voymastina_mech" {
    set "EntityTemplate" "player_vehicle.voymastina_mech"

    set "DeployCosts" {
        set "m_Supplies" 400
    }

    set "Icon" asset="voymastina/armor/default/Icon"
    set "IconEquipment" asset="voymastina/armor/default/IconEquipment"
    set "IconSkillBar" asset="voymastina/armor/default/IconSkillBar"

    append "Tags" "jy_vehicle_restricted"

    set "AccessorySlots" 0
    set "BlackMarketMaxQuantity" 0
}

clone "VehicleItemTemplate" from="vehicle.chassis_walker_medium" id="vehicle.voymastina_mech_erwin" {
    set "EntityTemplate" "player_vehicle.voymastina_mech_erwin"

    set "DeployCosts" {
        set "m_Supplies" 400
    }

    set "Icon" asset="voymastina/armor/erwin/Icon"
    set "IconEquipment" asset="voymastina/armor/erwin/IconEquipment"
    set "IconSkillBar" asset="voymastina/armor/erwin/IconSkillBar"

    append "Tags" "jy_vehicle_restricted"

    set "AccessorySlots" 0
    set "BlackMarketMaxQuantity" 0
}
