// not used, here as an example for when we want to make new perks
/-clone "PerkTemplate" from="perk.athletic" id="perk.voymastina_marathoner" {
    set "Title" { set "m_DefaultTranslation" "Marathoner" }
    set "Description" {
        set "m_DefaultTranslation" """
            "I don't believe in roads."

            – Voymastina, refusing to slow down
            """
    }
    set "ShortDescription" {
        set "m_DefaultTranslation" "-3 AP cost per tile of movement."
    }
    clear "EventHandlers"
    append "EventHandlers" type="ChangeMovementCost" {
        set "CostPerTile" -3
    }
}

clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.voymastina" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.recover"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.buff"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.stubborn"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.fearsome"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.linebreaker"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.counter_strike"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.juiced"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.die_hard"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.close_and_personal"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.unique_yaz_no_mercy"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.berserk"
        set "Tier" 4
    }
}
