clone "TagTemplate" from="unique" id="wmgfl_voymastina"

clone "SpeakerTemplate" from="sy" id="wmgfl_voymastina_speaker" {
    set "Tags" "wmgfl_voymastina pirate_sl female infantry waybacker"
    set "Nickname" {
        set "m_DefaultTranslation" "Voymastina"
    }
    set "Forename" {
        set "m_DefaultTranslation" "Voymastina"
    }
    set "Surname" {
        set "m_DefaultTranslation" ""
    }
    set "Description" {
        set "m_DefaultTranslation" """
            Name: Voymastina (AK-15)

            Proficiency: Breakthrough

            Birth: Unknown

            Age: Classified

            Affiliation(s): Task Force DEFY
            """
    }

    set "BarkImage" asset="voymastina/bark"
    set "StandLookLeftImage" asset="voymastina/stand_look_left"
    set "StandLookRightImage" asset="voymastina/stand_look_right"
    set "StandLookRightInactiveImage" asset="voymastina/stand_look_right_inactive"
}

clone "EntityTemplate" from="player_squad.sy" id="player_squad.voymastina" {
    append "Tags" "wmgfl_voymastina"
    append "Tags" "armor_restricted"
    set "Title" {
        set "m_DefaultTranslation" "Task Force DEFY"
    }
    set "Description" {
        set "m_DefaultTranslation" """
            No matter how difficult her mission is, Voymastina will always come up with a way to complete it. In her team, she is the sharpest blade, the strongest shield, and the most reliable linchpin of any plan that involves her. At times, you will be grateful that she's not on the opposing side.
            "Tactics, efficiency, experience... each of them is essential to being the strongest Doll of them all."
            """
    }

    set "Badge" asset="voymastina/badge_mini"
    set "BadgeWhite" asset="voymastina/badge_mini"
    clear "Items"
    append "Items" "armor.voymastina_default"
    append "Items" "armor.voymastina_erwin"
    append "Items" "weapon.voymastina_ak15"
}

clone "UnitLeaderTemplate" from="squad_leader.sy" id="squad_leader.voymastina" {
    set "InfantryUnitTemplate" "player_squad.voymastina"
    set "SpeakerTemplate" "wmgfl_voymastina_speaker"
    set "CustomHead" #null
    set "UnitTitle" {
        set "m_DefaultTranslation" "Tactical Doll"
    }
    set "UnitDescription" {
        set "m_DefaultTranslation" """
            No matter how difficult her mission is, Voymastina will always come up with a way to complete it. In her team, she is the sharpest blade, the strongest shield, and the most reliable linchpin of any plan that involves her. At times, you will be grateful that she's not on the opposing side.
            "Tactics, efficiency, experience... each of them is essential to being the strongest Doll of them all."
            """
    }

    set "InitialAttributes" index=0 88
    set "InitialAttributes" index=1 80
    set "InitialAttributes" index=2 80
    set "InitialAttributes" index=3 100
    set "InitialAttributes" index=4 100
    set "InitialAttributes" index=5 20
    set "InitialAttributes" index=6 80
    set "QualityLevel" 3
    set "GrowthPotential" 5
    set "FixedSupplyCost" 60
    set "SquaddieTax" 60
    set "Rarity" 5
    set "InitialPerk" "perk.fury"
    set "PerkTrees" index=0 "perk_tree.voymastina"
    set "Slot" asset="voymastina/slot"
    set "SlotInactive" asset="voymastina/slot_inactive"
    set "SlotBadge" asset="voymastina/slot_badge"
    set "BadgeDragged" asset="voymastina/badge_dragged"
    set "BigBadge" asset="voymastina/big_badge"
    set "BadgeUnitWindow" asset="voymastina/badge_unit_window"
    set "BadgeMini" asset="voymastina/badge_mini"
    set "HiringSelectBarkSound" {
        set "bankId" "wmgfl_tactical_barks_voymastina_va"
        set "itemId" "Series_Chosen_Series_Tone_Positive_006"
    }
    set "HiredBarkSound" {
        set "bankId" "wmgfl_tactical_barks_voymastina_va"
        set "itemId" "Series_Chosen_Auto_Series_Tone_Positive_007"
    }
    set "PromotionBarkSounds" index=0 {
        set "PerkTier" 1
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_voymastina_va"
            set "itemId" "Series_Up_002"
        }
    }
    set "PromotionBarkSounds" index=1 {
        set "PerkTier" 2
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_voymastina_va"
            set "itemId" "Series_Up_003"
        }
    }
    set "PromotionBarkSounds" index=2 {
        set "PerkTier" 3
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_voymastina_va"
            set "itemId" "Series_Up_004"
        }
    }
    set "PromotionBarkSounds" index=3 {
        set "PerkTier" 4
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_voymastina_va"
            set "itemId" "Series_Up_005"
        }
    }
}
