clone "ArmorTemplate" from="armor.player_fatigues" id="armor.lenna_default" {
    set "DeployCosts" {
        set "m_Supplies" 0
    }
    set "Title" {
        set "m_DefaultTranslation" "Swift Messenger"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Field Outfit"
    }
    set "Description" {
        set "m_DefaultTranslation" "Lenna's preferred attire, perfectly suited for both the silent infiltration of the night and the fierce clashes of frontline combat."
    }
    set "Icon" asset="lenna/armor/default/Icon"
    set "IconEquipment" asset="lenna/armor/default/IconEquipment"
    set "IconSkillBar" asset="lenna/armor/default/IconSkillBar"
    clear "MaleModels"
    append "MaleModels" asset="lenna/default/main"
    clear "FemaleModels"
    append "FemaleModels" asset="lenna/default/main"
    set "SquadLeaderMode" enum="SquadLeaderModelMode" "SameAsOthers"
    append "OnlyEquipableBy" "wmgfl_transmog"
    append "Tags" "jy_no_sell"
}
