clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.lenna" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.wire_slings"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.short_squeeze_murdock"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.lenna_nv_goggles"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.call_out_target"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.tankbuster"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.disruptive_fire"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.sneak"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.quick_hands"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.in_and_out_corlain"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.to_shreds_vehicle"
        set "Tier" 4
    }
}
