clone "TagTemplate" from="unique" id="wmgfl_lenna"

clone "SpeakerTemplate" from="sy" id="wmgfl_lenna_speaker" {
    set "Tags" "wmgfl_lenna pirate_sl female infantry waybacker wmgfl_class_smg"
    set "Nickname" {
        set "m_DefaultTranslation" "Lenna"
    }
    set "Forename" {
        set "m_DefaultTranslation" "Lenna"
    }
    set "Surname" {
        set "m_DefaultTranslation" ""
    }
    set "Description" {
        set "m_DefaultTranslation" """
            Name: Lenna (UMP 9)

            Proficiency: Stealth & Debuff

            Birth: Unknown

            Age: Classified

            Affiliation(s): H.I.D.E. 404
            """
    }

    set "BarkImage" asset="lenna/bark"
    set "StandLookLeftImage" asset="lenna/stand_look_left"
    set "StandLookRightImage" asset="lenna/stand_look_right"
    set "StandLookRightInactiveImage" asset="lenna/stand_look_right_inactive"
}

clone "EntityTemplate" from="player_squad.sy" id="player_squad.lenna" {
    append "Tags" "wmgfl_lenna"
    set "Title" {
        set "m_DefaultTranslation" "H.I.D.E. 404"
    }
    set "Description" {
        set "m_DefaultTranslation" "A cheerful and friendly Doll that devotes all her energy to protecting her beloved family. As Lenna becomes more composed, she displays a perfect smile when communicating with others and even gives \"forced\" hugs to her family."
    }

    set "Badge" asset="lenna/badge_mini"
    set "BadgeWhite" asset="lenna/badge_mini"
    clear "Items"
    append "Items" "armor.player_fatigues"
    append "Items" "weapon.lenna"

    set "Scale" {
        set "x" 1.0
        set "y" 1.0
    }
    set "OverrideScaleForSquadLeader" #false
}

clone "UnitLeaderTemplate" from="squad_leader.sy" id="squad_leader.lenna" {
    set "InfantryUnitTemplate" "player_squad.lenna"
    set "SpeakerTemplate" "wmgfl_lenna_speaker"
    set "CustomHead" #null
    set "UnitTitle" {
        set "m_DefaultTranslation" "Tactical Doll"
    }
    set "UnitDescription" {
        set "m_DefaultTranslation" "A cheerful and friendly Doll that devotes all her energy to protecting her beloved family. As Lenna becomes more composed, she displays a perfect smile when communicating with others and even gives \"forced\" hugs to her family."
    }

    set "InitialAttributes" index=0 100
    set "InitialAttributes" index=1 75
    set "InitialAttributes" index=2 80
    set "InitialAttributes" index=3 100
    set "InitialAttributes" index=4 100
    set "InitialAttributes" index=5 20
    set "InitialAttributes" index=6 100

    set "QualityLevel" 3
    set "GrowthPotential" 5
    set "FixedSupplyCost" 100
    set "SquaddieTax" 25
    set "Rarity" 5

    set "InitialPerk" "perk.covert_ops"
    set "PerkTrees" index=0 "perk_tree.lenna"

    set "Slot" asset="lenna/slot"
    set "SlotInactive" asset="lenna/slot_inactive"
    set "SlotBadge" asset="lenna/slot_badge"

    set "BadgeDragged" asset="lenna/badge_dragged"
    set "BigBadge" asset="lenna/big_badge"
    set "BadgeUnitWindow" asset="lenna/badge_unit_window"
    set "BadgeMini" asset="lenna/badge_mini"

    set "HiringSelectBarkSound" {
        set "bankId" "wmgfl_tactical_barks_lenna_va"
        set "itemId" "Series_Chosen_Series_Up_003"
    }
    set "HiredBarkSound" {
        set "bankId" "wmgfl_tactical_barks_lenna_va"
        set "itemId" "Series_Tone_Positive_003"
    }

    set "PromotionBarkSounds" index=0 {
        set "PerkTier" 1
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Series_Up_001"
        }
    }
    set "PromotionBarkSounds" index=1 {
        set "PerkTier" 2
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Series_Up_005"
        }
    }
    set "PromotionBarkSounds" index=2 {
        set "PerkTier" 3
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Series_Set_Fall_Series_Up_004"
        }
    }
    set "PromotionBarkSounds" index=3 {
        set "PerkTier" 4
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Series_Up_007"
        }
    }

    clear "EmotionalStateResponses"
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Eager"
        set "Text" {
            set "m_DefaultTranslation" "Nice day for field ops. Guess it's about time to head out."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Series_Daily_003"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Determined"
        set "Text" {
            set "m_DefaultTranslation" "Sorry to keep you waiting! Leave the rest to me!"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Single_Obtain_SSR_001"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Overconfident"
        set "Text" {
            set "m_DefaultTranslation" "Yeah, head's clear, firepower up, abilities enhanced! Glad I signed up for the experiment!"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Series_Daily_010"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Euphoric"
        set "Text" {
            set "m_DefaultTranslation" "Ah... I was just thinking about you, Commander. Hehe♪ It's only natural to think about your family, right?"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Single_Friendliness_004"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Hesitant"
        set "Text" {
            set "m_DefaultTranslation" "Hey, Commander, what do you think you're doing? We're not like that yet! I mean, we are family, but n-no means no!"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Single_Friendliness_006"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Frustrated"
        set "Text" {
            set "m_DefaultTranslation" "I'm beat. Being good at your job isn't all it's cracked up to be."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Series_Daily_007"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Disheartened"
        set "Text" {
            set "m_DefaultTranslation" "Uh, Commander, change isn't a bad thing, right? Yeah, everyone's really gotten better, Big Sis Leva too, and you as well. Guess I've gotta step up, too."
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Single_Friendliness_012"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "Miserable"
        set "Text" {
            set "m_DefaultTranslation" "Uuu... Sorry, Commander... But with Leva and me here, we can handle everything, so don't worry♪"
        }
        set "Sound" {
            set "bankId" "wmgfl_tactical_barks_lenna_va"
            set "itemId" "Series_Lose_Single_Lose_001"
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "GoodwillTowards"
        set "Text" {
            set "m_DefaultTranslation" ""
        }
    }
    append "EmotionalStateResponses" {
        set "EmotionalState" enum="EmotionalStateType" "AnimosityTowards"
        set "Text" {
            set "m_DefaultTranslation" ""
        }
    }
}
