clone "TagTemplate" from="unique" id="jy_armor_restricted"

clone "TagTemplate" from="unique" id="jy_vehicle_restricted"

clone "TagTemplate" from="unique" id="jy_no_sell"

clone "TagTemplate" from="unique" id="wmgfl_gift"

patch "StrategyConfig" "strategy_config" {
    append "InitialPickableUnitLeaders" "squad_leader.voymastina"
    append "InitialPickableUnitLeaders" "squad_leader.cheyanne"
    append "InitialPickableUnitLeaders" "squad_leader.leva"
    append "InitialPickableUnitLeaders" "squad_leader.lewis"
}

patch "GlobalDifficultyTemplate" "global_difficulty.normal" {
    append "InitialAdditionalUnlockedItems" "vehicle.voymastina_mech"
    append "InitialAdditionalUnlockedItems" "vehicle.voymastina_mech_erwin"
}

patch "GlobalDifficultyTemplate" "global_difficulty.challenging" {
    append "InitialAdditionalUnlockedItems" "vehicle.voymastina_mech"
    append "InitialAdditionalUnlockedItems" "vehicle.voymastina_mech_erwin"
}

patch "GlobalDifficultyTemplate" "global_difficulty.expert" {
    append "InitialAdditionalUnlockedItems" "vehicle.voymastina_mech"
    append "InitialAdditionalUnlockedItems" "vehicle.voymastina_mech_erwin"
}

patch "DossierItemTemplate" "dossier.squad_leader" {
    append "m_UnlockedLeaders" "squad_leader.voymastina"
    append "m_UnlockedLeaders" "squad_leader.cheyanne"
    append "m_UnlockedLeaders" "squad_leader.leva"
    append "m_UnlockedLeaders" "squad_leader.lewis"
}

//   patch "DossierItemTemplate" "dossier.pilot" {
//       append "m_UnlockedLeaders" "pilot.my_pilot"
//   }
