clone "TagTemplate" from="unique" id="wmgfl_gift"

clone "CommodityTemplate" from="commodity.core_world_memorabillia" id="commodity.wmgfl_gift_dinergate_model" {
    set "Title" {
        set "m_DefaultTranslation" "Dinergate Model"
    }
    set "Description" {
        set "m_DefaultTranslation" "A widely circulated item on the market, it is very popular and often used as a gift."
    }
    set "Icon" asset="gifts/Item_Icon_love_gift_pendant_8"
    append "Tags" "wmgfl_gift"
    set "Rarity" 0
    set "TradeValue" 5
    set "BlackMarketMaxQuantity" 5
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.core_world_memorabillia" id="commodity.wmgfl_gift_classical_record" {
    set "Title" {
        set "m_DefaultTranslation" "Classical Record"
    }
    set "Description" {
        set "m_DefaultTranslation" "Classical record"
    }
    set "Icon" asset="gifts/Item_Icon_love_gift_pendant_3"
    append "Tags" "wmgfl_gift"
    set "Rarity" 1
    set "TradeValue" 10
    set "BlackMarketMaxQuantity" 3
    set "MinCampaignProgress" 0
}

clone "CommodityTemplate" from="commodity.core_world_memorabillia" id="commodity.wmgfl_gift_devotion_ring" {
    set "Title" {
        set "m_DefaultTranslation" "Devotion Ring"
    }
    set "Description" {
        set "m_DefaultTranslation" "Deeply meaningful to the right person."
    }
    set "Icon" asset="gifts/Item_Icon_love_gift_jewelry_1"
    append "Tags" "wmgfl_gift"
    set "Rarity" 3
    set "TradeValue" 20
    set "BlackMarketMaxQuantity" 1
    set "MinCampaignProgress" 0
}
