clone "SoundBank" from="weapons_soundbank" id="wmgfl_weapons_ar_addition_bank" {
    clear "sounds"
    clear "busIndices"

    append "sounds" {
        set "name" "ar_burst"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/ar/ar_burst_01"
        }
        append "variations" {
            set "clip" asset="weapons/ar/ar_burst_02"
        }
        append "variations" {
            set "clip" asset="weapons/ar/ar_burst_03"
        }
    }

    append "sounds" {
        set "name" "ar_burst_distant"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/ar/ar_burst_distant_01"
        }
        append "variations" {
            set "clip" asset="weapons/ar/ar_burst_distant_02"
        }
        append "variations" {
            set "clip" asset="weapons/ar/ar_burst_distant_03"
        }
    }

    append "sounds" {
        set "name" "ar_single"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/ar/ar_single_01"
        }
        append "variations" {
            set "clip" asset="weapons/ar/ar_single_02"
        }
        append "variations" {
            set "clip" asset="weapons/ar/ar_single_03"
        }
    }

    append "sounds" {
        set "name" "ar_single_distant"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/ar/ar_single_distant_01"
        }
        append "variations" {
            set "clip" asset="weapons/ar/ar_single_distant_02"
        }
        append "variations" {
            set "clip" asset="weapons/ar/ar_single_distant_03"
        }
    }
}

clone "SoundBank" from="weapons_soundbank" id="wmgfl_weapons_rf_addition_bank" {
    clear "sounds"
    clear "busIndices"

    append "sounds" {
        set "name" "rf_shot"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/rf/rf_shot_01"
        }
        append "variations" {
            set "clip" asset="weapons/rf/rf_shot_02"
        }
    }

    append "sounds" {
        set "name" "rf_shot_distant"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/rf/rf_shot_distant_01"
        }
        append "variations" {
            set "clip" asset="weapons/rf/rf_shot_distant_02"
        }
    }
}

clone "SoundBank" from="weapons_soundbank" id="wmgfl_weapons_smg_addition_bank" {
    clear "sounds"
    clear "busIndices"

    append "sounds" {
        set "name" "smg_burst"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/smg/smg_burst_01"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_burst_02"
        }
    }

    append "sounds" {
        set "name" "smg_burst_distant"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/smg/smg_burst_distant_01"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_burst_distant_02"
        }
    }

    append "sounds" {
        set "name" "smg_single"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_01"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_02"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_03"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_04"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_05"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_06"
        }
    }

    append "sounds" {
        set "name" "smg_single_distant"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_distant_01"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_distant_02"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_distant_03"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_distant_04"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_distant_05"
        }
        append "variations" {
            set "clip" asset="weapons/smg/smg_single_distant_06"
        }
    }
}

clone "SoundBank" from="weapons_soundbank" id="wmgfl_weapons_sg_addition_bank" {
    clear "sounds"
    clear "busIndices"

    append "sounds" {
        set "name" "sg_single"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_01"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_02"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_03"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_04"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_05"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_06"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_07"
        }
    }

    append "sounds" {
        set "name" "sg_single_distant"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_distant_01"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_distant_02"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_distant_03"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_distant_04"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_distant_05"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_distant_06"
        }
        append "variations" {
            set "clip" asset="weapons/sg/sg_single_distant_07"
        }
    }
}

clone "SoundBank" from="weapons_soundbank" id="wmgfl_weapons_mg_addition_bank" {
    clear "sounds"
    clear "busIndices"

    append "sounds" {
        set "name" "mg_burst"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/mg/mg_burst_01"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_burst_02"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_burst_03"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_burst_04"
        }
    }

    append "sounds" {
        set "name" "mg_burst_distant"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/mg/mg_burst_distant_01"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_burst_distant_02"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_burst_distant_03"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_burst_distant_04"
        }
    }

    append "sounds" {
        set "name" "mg_shot"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_01"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_02"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_03"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_04"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_05"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_06"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_07"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_08"
        }
    }

    append "sounds" {
        set "name" "mg_shot_distant"
        set "fixedPitch" 1.0
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_distant_01"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_distant_02"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_distant_03"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_distant_04"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_distant_05"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_distant_06"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_distant_07"
        }
        append "variations" {
            set "clip" asset="weapons/mg/mg_shot_distant_08"
        }
    }
}
