clone "ItemFilterTemplate" from="assault_rifle" id="wmgfl_doll_weapons" {
    set "Name" {
        set "m_DefaultTranslation" "Doll"
    }
    set "Description" {
        set "m_DefaultTranslation" "T-Doll weapons"
    }
    set "Icon" asset="weapon/doll_filter"
}
