clone "ConversationTemplate" from="JeanSy/arrival_jeansy" id="Papasha/arrival_papasha" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_papasha"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_papasha_va"
                        set "itemId" "Series_Battle_Start_Series_Tone_Positive_010"
                    }
                    set "RoleGuid" "JeanSy"
                    set "Text" "I will never retreat."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="JeanSy/last_man_standing1" id="Papasha/last_man_standing1" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_papasha"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_papasha_va"
                        set "itemId" "Series_Lose_Single_Lose_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "I'm sorry, Commander, I..."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
