clone "WeaponTemplate" from="weapon.generic_battle_rifle_tier1_crowbar_marksman" id="weapon.cheyanne" {
    append "Tags" "jy_no_sell"
    set "Title" {
        set "m_DefaultTranslation" "M200"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Sniper Rifle"
    }
    set "Description" {
        set "m_DefaultTranslation" "[PLACEHOLDER] A firearm highly compatible with Cheyanne."
    }
    set "Model" asset="weapon/cheyanne/main"
    set "SkillsGranted" index=0 "active.fire_cheyanne_m200"
    set "SkillsGranted" index=1 "active.fire_cheyanne_m200_quickshot"
    set "Icon" asset="weapon/cheyanne/Icon"
    set "IconEquipment" asset="weapon/cheyanne/IconEquipment"
    set "IconEquipmentDisabled" asset="weapon/cheyanne/IconEquipmentDisabled"
    set "IconSkillBar" asset="weapon/cheyanne/IconSkillBar"
    set "IconSkillBarDisabled" asset="weapon/cheyanne/IconSkillBarDisabled"

    set "AccuracyBonus" 15.0
    set "AccuracyDropoff" -11.0
    set "ArmorPenetration" 80.0
    set "ArmorPenetrationDropoff" -0.6

    set "Damage" 23.0
    set "DamageDropoff" -0.35
    set "DamageToArmorDurability" 40.0
    set "DamageToArmorDurabilityDropoff" -0.2

    set "MaxRange" 13
    set "IdealRange" 11
    set "Suppression" 8.0

    set "DeployCosts" {
        set "m_Supplies" 25
    }

    set "BlackMarketMaxQuantity" 0
}

clone "SkillTemplate" from="active.fire_battle_rifle_tier_1_aimed_fire_marksman" id="active.fire_cheyanne_m200" {
    set "Title" {
        set "m_DefaultTranslation" "Aimed Volley"
    }
    set "Description" {
        set "m_DefaultTranslation" "Deliver a highly accuracy volley at designated target. Require deploy."
    }

    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
    set "ActionPointCost" 60
    set "Uses" 7
    set "EventHandlers" index=0 {
        set "AccuracyBonus" 0.0
        set "DamageMult" 1.0
    }
    set "IsOverridingRanges" #false
}

clone "SkillTemplate" from="active.fire_battle_rifle_tier_1_aimed_fire_marksman" id="active.fire_cheyanne_m200_quickshot" {
    set "Title" {
        set "m_DefaultTranslation" "Quick Shot"
    }
    set "Description" {
        set "m_DefaultTranslation" "Nimbly fire a single accurate round at designated target."
    }

    clear "SoundsOnAttack"
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot"
    }
    append "SoundsOnAttack" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
    clear "SoundsOnAttackFar"
    append "SoundsOnAttackFar" {
        set "bankId" "wmgfl_weapons_rf_addition_bank"
        set "itemId" "rf_shot_distant"
    }
    set "ActionPointCost" 40
    set "Uses" 7
    set "ExecutingElement" enum="ExecutingElementType" "OneAtRandomExceptSpecial"
    set "IsOverridingRanges" #false
    set "IsDeploymentRequired" #false
}
