clone "WeaponTemplate" from="weapon.cheyanne" id="weapon.cheyanne_r1" {
    set "Damage" 23.5
    set "ArmorPenetration" 82.0
    set "DamageToArmorDurability" 41.0
}

clone "WeaponTemplate" from="weapon.cheyanne" id="weapon.cheyanne_r2" {
    set "Damage" 24.0
    set "ArmorPenetration" 84.0
    set "DamageToArmorDurability" 42.0
}

clone "WeaponTemplate" from="weapon.cheyanne" id="weapon.cheyanne_r3" {
    set "Damage" 25.0
    set "ArmorPenetration" 87.0
    set "DamageToArmorDurability" 43.0
}

clone "WeaponTemplate" from="weapon.cheyanne" id="weapon.cheyanne_r4" {
    set "Damage" 26.5
    set "ArmorPenetration" 91.0
    set "DamageToArmorDurability" 45.0
}

clone "WeaponTemplate" from="weapon.cheyanne" id="weapon.cheyanne_r5" {
    set "Damage" 28.0
    set "ArmorPenetration" 95.0
    set "DamageToArmorDurability" 47.0
}

clone "WeaponTemplate" from="weapon.cheyanne" id="weapon.cheyanne_r6" {
    set "Damage" 30.0
    set "ArmorPenetration" 100.0
    set "DamageToArmorDurability" 50.0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_component_cheyanne" {
    set "Title" {
        set "m_DefaultTranslation" "M200 Component"
    }
    set "Description" {
        set "m_DefaultTranslation" "[PLACEHOLDER] Weapon component for M200"
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="weapon/cheyanne/Icon"
    set "Rarity" 0
    set "TradeValue" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "BlueprintTemplate" from="blueprint.squad_weapon_electro_magnetic_enhanced_assault_rifle" id="blueprint.wmgfl_cheyanne_duplicate" {
    set "m_CraftingResult" "weapon.cheyanne"
    clear "m_CraftingMaterials"
    append "m_CraftingMaterials" {
        set "Template" "commodity.wmgfl_component_cheyanne"
        set "Count" 1
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_weapon_parts"
        set "Count" 4
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_cybernetic_optics"
        set "Count" 2
    }
}

// --- SSR: ranks, component, duplicate blueprint --------------------------------------
clone "WeaponTemplate" from="weapon.cheyanne_ssr" id="weapon.cheyanne_ssr_r1" {
    set "Damage" 84.0
    set "ArmorPenetration" 102.5
    set "DamageToArmorDurability" 46.0
}

clone "WeaponTemplate" from="weapon.cheyanne_ssr" id="weapon.cheyanne_ssr_r2" {
    set "Damage" 85.0
    set "ArmorPenetration" 105.0
    set "DamageToArmorDurability" 47.0
}

clone "WeaponTemplate" from="weapon.cheyanne_ssr" id="weapon.cheyanne_ssr_r3" {
    set "Damage" 86.0
    set "ArmorPenetration" 109.0
    set "DamageToArmorDurability" 48.0
}

clone "WeaponTemplate" from="weapon.cheyanne_ssr" id="weapon.cheyanne_ssr_r4" {
    set "Damage" 89.0
    set "ArmorPenetration" 114.0
    set "DamageToArmorDurability" 51.0
}

clone "WeaponTemplate" from="weapon.cheyanne_ssr" id="weapon.cheyanne_ssr_r5" {
    set "Damage" 71.0
    set "ArmorPenetration" 119.0
    set "DamageToArmorDurability" 53.0
}

clone "WeaponTemplate" from="weapon.cheyanne_ssr" id="weapon.cheyanne_ssr_r6" {
    set "Damage" 74.0
    set "ArmorPenetration" 125.0
    set "DamageToArmorDurability" 56.0
}

clone "CommodityTemplate" from="commodity.construct_weapon_parts" id="commodity.wmgfl_component_cheyanne_ssr" {
    set "Title" {
        set "m_DefaultTranslation" "Nightwalker Cardamom Component"
    }
    set "Description" {
        set "m_DefaultTranslation" "[PLACEHOLDER] Weapon component for Nightwalker Cardamom"
    }
    append "Tags" "jy_no_sell"
    set "Icon" asset="weapon/cheyanne_ssr/Icon"
    set "Rarity" 0
    set "TradeValue" 0
    set "BlackMarketMaxQuantity" 0
    set "MinCampaignProgress" 0
}

clone "BlueprintTemplate" from="blueprint.squad_weapon_electro_magnetic_enhanced_assault_rifle" id="blueprint.wmgfl_cheyanne_ssr_duplicate" {
    set "m_CraftingResult" "weapon.cheyanne_ssr"
    clear "m_CraftingMaterials"
    append "m_CraftingMaterials" {
        set "Template" "commodity.wmgfl_component_cheyanne_ssr"
        set "Count" 1
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_weapon_parts"
        set "Count" 4
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_cybernetic_optics"
        set "Count" 2
    }
    append "m_CraftingMaterials" {
        set "Template" "commodity.construct_advanced_alloys"
        set "Count" 2
    }
}
