clone "ArmorTemplate" from="armor.player_fatigues" id="armor.papasha_default" {
    set "DeployCosts" {
        set "m_Supplies" 0
    }
    set "Title" {
        set "m_DefaultTranslation" "Earnest Defense"
    }
    set "ShortName" {
        set "m_DefaultTranslation" "Security Uniform"
    }
    set "Description" {
        set "m_DefaultTranslation" "This is Papasha's usual outfit. The medal on her chest whill shine forever, as a symbol of her deep-seated wish to protect her friends."
    }
    set "Icon" asset="papasha/armor/default/Icon"
    set "IconEquipment" asset="papasha/armor/default/IconEquipment"
    set "IconSkillBar" asset="papasha/armor/default/IconSkillBar"
    set "SquadLeaderMode" enum="SquadLeaderModelMode" "SameAsOthers"
    append "OnlyEquipableBy" "wmgfl_transmog"
    append "Tags" "jy_no_sell"
}
