clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.papasha" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.unique_sy_economics"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.ice_in_the_veins_corlain"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.demolitions_expert"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.mobile_infantry"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.call_out_target"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.grenadier"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.fortify"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.hit_the_deck"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.pointfire"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.grind_down"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.firing_line"
        set "Tier" 4
    }
}

clone "PerkTreeTemplate" from="perk_tree.ivy" id="perk_tree.papasha_pilot" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.expert_pilot_vehicle"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.tankbuster"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.shoot_and_scoot"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.zig_zag"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.dash_walker"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.fragmentation"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.unbreakable_vehicle"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.fortify"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.hotwire_vehicle"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.grind_down"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.directed_fire"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.full_send"
        set "Tier" 4
    }
}
