clone "PerkTreeTemplate" from="perk_tree.carda" id="perk_tree.cheyanne" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.athletic"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.call_out_target"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.bags_belts"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.sharpshooter"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.deploy_decoy"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.take_aim"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.determined"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.tankbuster"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.minimize_silhouette"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.steady_gun"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.shooting_gallery"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.ambush"
        set "Tier" 4
    }
}
