clone "ConversationTemplate" from="Carda_Early/objective_first" id="Makiatto/objective_first_makiatto" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_makiatto"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_makiatto_va"
                        set "itemId" "Series_Win_Single_Win_001"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Go ahead and thank me, like old times."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/objective_second" id="Makiatto/objective_second_makiatto" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_makiatto"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_makiatto_va"
                        set "itemId" "Series_Up_003"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Perfect for someone as flawless as me!"
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}

clone "ConversationTemplate" from="Carda_Early/objective_third" id="Makiatto/objective_third_makiatto" {
    set "Active" #true
    set "Roles" index=0 {
        set "m_SerializedRequirements" index=2 type="HasOneTag" {
            set "Tags" "wmgfl_makiatto"
        }
    }
    set "Nodes" {
        clear "m_SerializedNodes"
        append "m_SerializedNodes" type="VARIATION" {
            append "Variations" {
                append "m_SerializedNodes" type="SAY" {
                    set "Sound" {
                        set "bankId" "wmgfl_tactical_barks_makiatto_va"
                        set "itemId" "Series_Up_006"
                    }
                    set "RoleGuid" "Entity"
                    set "Text" "Nice work."
                }
            }
        }
        append "m_SerializedNodes" type="EMPTY" {}
    }
}
