clone "PerkTreeTemplate" from="perk_tree.sy" id="perk_tree.ots14" {
    clear "Perks"
    append "Perks" {
        set "Skill" "perk.determined"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.new_tricks"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.sharpshooter"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.solid_grouping"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.fragmentation"
        set "Tier" 1
    }
    append "Perks" {
        set "Skill" "perk.wmgfl_drive_by"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.wmgfl_barrage"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.steady_gun"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.standby"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.scout"
        set "Tier" 2
    }
    append "Perks" {
        set "Skill" "perk.tankbuster"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.critical_hits"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.stubborn"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.impossible_shot"
        set "Tier" 3
    }
    append "Perks" {
        set "Skill" "perk.berserk"
        set "Tier" 4
    }
    append "Perks" {
        set "Skill" "perk.blaze_of_glory"
        set "Tier" 4
    }
}
